[2018-08-22 05:00] #1003 closed

[2018-08-29 12:14] jorenvh1 opened #1004 "sonata:page:create-snapshots broken"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

sonata:page:create-snapshots --site=all or just with the option --site=1 or something doesn't work for me. It says `done` for all the sites I specify but doesn't create a single snapshot

## Steps to reproduce
Run `app/console sonata:page:create-snapshots --site=all`

## Expected res

[2018-08-29 13:14] jorenvh1 commented on #1004
Sorry, didn't have a lot of time when creating this issue, my bad.

[2018-09-06 15:10] fafiebig opened #1007 "XSS possibillity in Page Blocks - Block Name Javascript"
#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

when using XSS code in the block name field in the page editor view, it will be executed by javascript.

## Steps to reproduce

add a new block into a container and enter

[code]
into the block name field (top field of the new block) and store the block.
Expand the block and the XSS will be executed

[2018-09-07 11:29] #1004 closed

[2018-09-10 14:29] jorenvh1 commented on #60
Can anyone tell me how to disable decoration if not from the config? And also what this exactly does?

[2018-09-26 12:11] grekpg opened #1013 "Site disabled view for ROLE_ADMIN"
Environment
Sonata packages

sonata-project/admin-bundle              3.35.2 = 3.35.2 The missing Symfony Admin Generator
sonata-project/block-bundle              3.12.1 = 3.12.1 Symfony SonataBlockBundle
sonata-project/cache                     1.1.1  ~ 2.0.1  Cache library
sonata-project/cache-bundle              2.4.2  = 2.4.2  This bundle provides caching services
sonata-project/classification

[2018-10-17 11:43] jorenvh1 opened #1015 "Can't add more than 7 rows of containers"
## Subject

Currently it is not supported to add more than 7 rows of containers on a single page. Let's say I want to make a onepager template which will have 10 different kind of containers, this is not possible.

## Steps to reproduce
[code]
## Expected results

Another container will show up in the admin view

## Actual results

Error is displayed because it currently only accepts a 8x7 grid

[2018-10-17 16:57] OskarStark commented on #1015
Could you provide a PR to fix this?

[2018-10-18 14:37] jorenvh1 commented on #1015
@OskarStark Haven't had the time to work on this, sorry

[2019-01-21 12:11] sev-signal opened #1039 "$session->get('sonata/page/isEditor') always returns true"
Hello,
Since I updated from SF 2.8 to SF 3.4, `$session->get('sonata/page/isEditor')` always returns `true`  (in vendor/sonata-project/page-bundle/src/CmsManager/CmsManagerSelector.php)when a user is logged in (even if he is not an admin).  That's problematic a users now see sonata 404 page for instance instead of the basic one. Any idea why?

### Environment
[code]

#### Sonata packages

[code]

[2019-01-21 13:16] sev-signal commented on #1039
also here is an interesting thing.
[code]
=

[code]

[2019-01-21 16:54] sev-signal commented on #1039
My website was defaulting to the default security handler (Noop). I added this in my sonata_admin.yml and it solved the problem:
[code]

[2019-01-21 16:54] #1039 closed

[2019-02-19 10:07] srascar opened #1044 "RenderBlockCommand not compatible with Symfony 3.x"
### Environment
Docker alpine

#### Sonata packages
"sonata-project/page-bundle": "^3.9"

#### Symfony packages
"symfony/symfony": "3.4.*"
[code]

#### PHP version
"php": "^7.1"

## Subject
`RenderBlockCommand` is using the method `enterScope` of the Container object.
This method was deprecated in Symfony 2.8 and removed in Symfony 3.0
https://symfony.com/blog/new-in-symfony-2-8-deprecating-scopes

[2019-03-08 20:16] #590 closed

[2019-03-14 11:05] mrpdean opened #1047 "Unable to add child blocks via the Block List tab"
### Environment

Ubuntu 18.04

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Unable to add a child block to a sonata.page.block.container via the Block List tab.

When the Add New button is clicked the resulting request returns the error:
RuntimeException:
The block service `` does not exist

Block can be added via the Composer tab, but not via

[2019-03-17 10:18] core23 opened #1048 "Remove id from model classes"
## Feature Request

The id should not be part of the model classes. The outside world shouldn't know anything about the technical details. Depending on the user application, the id could be a string, uuid or an integer.

Classes:
- `Model\Page(Interface)`
- `Model\Site(Interface)`

[2019-04-04 12:49] mariepierreMangeret commented on #1044
Has this issue been resolved? As I have the same problem...

[2019-04-20 07:22] RSalo opened #1053 "Disable monitoring"
I don't want what does mean monitoring, but it would be best ability to disable it.

[2019-04-20 07:24] RSalo commented on #1053
Oops, accidentally append fix to another pull...
https://github.com/sonata-project/SonataPageBundle/pull/1050

[2019-05-06 06:58] mrpdean commented on #1047
Is anyone able to confirm this is a bug or am I the only one having this problem?

Thanks.

[2019-05-06 07:14] core23 commented on #1047
Looks like you're the only one with this bug :/

Maybe you can research a little bit to fix this problem.

[2019-05-08 03:53] mrpdean commented on #1047
Thanks for replying @core23.

If it's working for you I'm wondering if you might be able to share your relevant config files, sonata admin/blocks/pages so that I can compare them to mine?

[2019-05-10 11:41] mrpdean commented on #1047
Believe me I've tried to debug this error myself but haven't been able to identify the cause.

On older versions of the Page Bundle (3.3.0 for example) the block type is passed through when the Add New button is clicked:   &type=sonata.page.block.container

For some reason, on this version (3.11.0) the type parameter is no longer passed through.

As to what has changed and why this is not working

[2019-05-20 13:06] RubenHollevoet opened #1061 "type check on site ID results in no sites found"
I have encountered a bug after upgrading from 3.10.0 tot 3.11.0.

In 8a50427a168d0fbc03bf5637504f3b1ec71204c1 src/Controller/PageAdminController.php:86, the check was made type sensitive. Since $siteId is a string, the siteId in the model should by definition also be of the type string. In my case id was an integer so no sites were found.
I would suggest type conversion should be added or the chec

[2019-05-21 11:49] #687 closed

[2019-06-12 07:48] Leobaillard commented on #687
Hi,

Why has this been closed? I can also experience this problem.

[2019-06-12 07:50] Leobaillard commented on #1047
I'm also experiencing this problem.

[2019-06-14 14:46] p1nGgeR commented on #1061
@RubenHollevoet Hi, it was fixed in the 3.11.1 version
https://github.com/sonata-project/SonataPageBundle/commit/ae701888155e295af1ac3c560b0c8cb4d1014a7c

[2019-06-16 07:36] mrpdean commented on #1047
The only progress I've made so far is if I add the following the BuildEditForm method of ContainerBlockService in the block bundle then the Add New button works:

`'link_parameters' => array('type' => $block->getType()),`

However, when saving (clicking the Update button) the same error appears.

Also, the ContainerBlockService has never had that line so this definitely isn't the issue.

This issu

[2019-07-16 00:39] paulkrix commented on #1047
I am also experiencing this problem

[2019-07-22 04:00] mrpdean commented on #1047
That's three individuals who are experiencing this bug. Can this now be tagged as confirmed?

[2019-07-22 05:49] greg0ire commented on #1047
There's no `confirmed` label, but I sure can remove the `unconfirmed` label. Did this work with previous versions of sonata-project/block-bundle ?

[2019-07-22 10:29] mrpdean commented on #1047
Thanks.  Yes, it was working in our previous/old sonata setup using page-bundle 3.3.0 with block-bundle 3.3.0

[2019-07-22 12:52] greg0ire commented on #1047
That's an important piece of news. Anyone willing to push this forward can try to determine if it is an issue with the page bundle or the block bundle by trying the latest version of one of them and version 3.3.0 of another and *vice versa*

[2019-08-21 13:45] #1053 closed

[2019-11-25 12:11] grekpg opened #1094 "BlockInteractor::__construct() must be an instance of Symfony\Bridge\Doctrine\RegistryInterface Registry given"
After composer update i get new errors

[code]

Argument 1 passed to Sonata\PageBundle\Entity\BlockInteractor::__construct() must be an instance of Symfony\Bridge\Doctrine\RegistryInterface, instance of Doctrine\Bundle\DoctrineBundle\Registry given,

[2019-11-25 12:19] delboy1978uk commented on #1094
They've removed the Interface
https://github.com/doctrine/DoctrineBundle/blob/master/UPGRADE-2.0.md

[2019-11-25 13:18] OskarStark commented on #1094
Can anybody provider a PR?

[2019-11-30 00:13] core23 opened #1096 "Remove Sonata Cache"
We should use symfony cache instead.

Even the doctrine cache was just deprecated in favor of symfony cache:
https://github.com/doctrine/DoctrineCacheBundle#deprecation-warning

[2020-01-09 21:26] #1094 closed

[2020-01-31 07:09] #1061 closed

[2020-02-14 09:05] #1044 closed

[2020-02-14 09:05] #1047 closed

[2020-02-14 09:05] #1015 closed

[2020-02-14 09:05] #1007 closed

[2020-02-14 09:05] #1013 closed

[2020-02-14 09:05] #978 closed

[2020-02-14 09:05] #990 closed

[2020-02-14 09:05] #899 closed

[2020-02-14 09:05] #972 closed

[2020-02-14 09:05] #851 closed

[2020-02-14 09:05] #836 closed

[2020-02-14 09:05] #845 closed

[2020-02-14 09:05] #776 closed

[2020-02-14 09:05] #770 closed

[2020-02-14 09:05] #756 closed

[2020-02-14 09:05] #757 closed

[2020-02-14 09:05] #753 closed

[2020-02-14 09:05] #627 closed

[2020-02-14 09:05] #638 closed

[2020-02-14 09:06] #621 closed

[2020-02-14 09:06] #604 closed

[2020-02-14 09:06] #554 closed

[2020-02-14 09:06] #513 closed

[2020-02-14 09:06] #537 closed

[2020-02-14 09:06] #475 closed

[2020-02-14 09:06] #481 closed

[2020-02-14 09:06] #441 closed

[2020-02-14 09:06] #271 closed

[2020-02-14 10:05] #264 closed

[2020-03-19 04:38] mrpdean commented on #1047
Bit sad that many of these bug reports get auto-closed without any resolution.

[2020-03-19 07:03] core23 commented on #1047
Sorry, but we need a cleanup because our team is very small and we try to spend our energy on the most important things to get things done.

It seems there was not so much interest in this issue, so no one tries to get a solution.

[2020-03-19 08:57] VincentLanglet commented on #1047
A PR is welcome :)

[2020-03-19 10:24] haivala opened #1130 "Doc: How to make a Block for PageBundle without The Sonata\BlockBundle\Block\Service\AbstractAdminBlockService class"
## Feature Request
The Sonata\BlockBundle\Block\Service\AbstractAdminBlockService class is deprecated since sonata-project/block-bundle 3.16 and will be removed with the 4.0 release so I tried to dig all almost all of the blocks that are available in Page Composer to find a block that does not use that class but haven't find one.

Is there a way to make a block that does not use that class and can

[2020-03-19 22:02] greg0ire commented on #1047
@mrpdean not like I didn't explain how someone really interested in fixing this could have helped.

[2020-03-20 05:28] mrpdean commented on #1047
@greg0ire I wasn't criticising the fact that it hadn't been resolved, merely that these bugs are being auto-closed without resolution.  I don't see how that helps anyone. Just seems like false reporting of the current state of the bundle. I spent a few hours on it without success before I had to move on to alternate solutions. If I get time I'll take another look.

[2020-03-20 07:45] greg0ire commented on #1047
That would be great. We know it's not optimal, but it helps us focus on issues that receive activity, feedback. There are way to many issues for us to deal with, so at some point, we make a choice, and naturally pick issues that we think can be fixed because people stay involved. Note that it was auto-closed after some delay, and that the bot asked:

There clearly was, and no one did anything. Not

[2020-03-23 07:49] haivala commented on #1130
I had really old block code messing things up. I'll close this.

[2020-03-23 07:49] #1130 closed

[2020-03-25 13:27] n3o77 opened #1131 "Changelog in master suggests that version 3.15.1 removed cocur/slugify but taged version doesn't"
Basically what the titlte says. In the master branch it's noted that with `3.15.1` the `cocur/slugify` dependency was removed, but when looking in the taged version it's still in there: https://github.com/sonata-project/SonataPageBundle/blob/3.15.1/composer.json

[2020-03-25 13:28] VincentLanglet commented on #1131
Indeed https://github.com/sonata-project/SonataPageBundle/compare/3.15.1...3.x

[2020-03-25 18:44] greg0ire commented on #1131
That's really weird:
1. I don't reproduce the issue locally
2. When I browse GH with the hash of the commit, the file looks correct: https://github.com/sonata-project/SonataPageBundle/blob/3ba7afe8fb8e2077af8787888f7fa4c75c875d4c/composer.json

[2020-03-25 18:45] greg0ire commented on #1131
Also the release page shows another hash :/ https://github.com/sonata-project/SonataPageBundle/releases/tag/3.15.1

[2020-03-25 18:49] greg0ire commented on #1131
I think I must have f**ed up somewhere when creating this release… I'm just going to release 3.15.2 . Resetting the tag to the right hash is rewriting history and should not be done.

[2020-03-25 19:08] #1131 closed

[2020-03-25 19:09] greg0ire commented on #1131
I fixed the changelog and released 3.16.0

[2020-03-30 08:53] wwtvishal opened #1134 "Error during "Create a Publication" from list view in page: An exception has been thrown during the rendering of a template ("Notice: Array to string conversion")"
Hello!
Please help me to solve the issue.

Steps to reproduce the error:

Install the sonata page bundle and do the required configuration.

Go to Pages at back-end:

Pages > Manage Pages >> List View

and checked any of the pages which you have added already or add new one and do the same.

and select the option "Create a publication" >> "OK" >> "Yes Execute" and then there will be error "An exce

[2020-03-30 14:25] haivala commented on #1134
I have same problem but you can create publication by editing one page and choosing publications from the side menu and adding a new one.

It's only the batch action that does not work.

[2020-03-30 14:29] VincentLanglet commented on #1134
Please use the issue template @wwtvishal. It'll be easier to help if you fill the following information.

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

Plus, when you get the error `"An exception has been thrown during the rendering of a template ("Notice: Array to string conversion"` ; don't you have a file/line where it's coming from ?

[2020-03-30 15:01] haivala commented on #1134
When you use the batch action: It created the publication but it saves something to session which gives this error when trying to load page list or tree..
resetting the user session resolves this.

[2020-03-31 09:10] wwtvishal commented on #1134
Thanks @haivala @VincentLanglet

Here is the information @VincentLanglet

**Sonata packages**

[code]

**Symfony packages**

`-sh-4.2$ composer show --latest 'symfony/*'
Restricting packages listed in "symfony/symfony" to "4.3.*"
symfony/asset                      v4.3.9  v4.3.11 Symfony Asset Component
symfony/browser-kit                v4.3.9  v4.3.11 Symfony BrowserKit Component
symfony/cache

[2020-04-04 06:18] wwtvishal commented on #1134
Hi @VincentLanglet

Please help me with your feedback.

Many Thanks!

[2020-04-13 05:03] merguezzz opened #1135 "Missing Model\Snapshot#enabled @var type leading phpdocumentor/reflection-docblock 5.1.0 error"
https://github.com/sonata-project/SonataPageBundle/blob/4aa81adb9419fdbb6fdbb0e471c34b8d49593f93/src/Model/Snapshot.php#L59

Missing var type leading phpdocumentor/reflection-docblock 5.1.0 to crash.

### Fix
`     * @var bool`

### Quickfix
Downgrade  phpdocumentor/reflection-docblock with
`composer require phpdocumentor/reflection-docblock:4.3.4`

### References
#https://github.com/symfony/symfo

[2020-04-13 15:49] #1135 closed

[2020-04-16 16:55] #1134 closed

[2020-04-19 13:18] gekomod opened #1144 "Render Container Global not showing"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

## Steps to reproduce

## Expected results

## Actual results

Hello, the problem is that as soon as I'm logged in it displays information from this:

{{sonata_page_render_container ('footer', 'global')}}

And if I'm not logged in, there is no data from
footer
header
Content_top
Cont

[2020-04-19 14:54] core23 commented on #1144
Have you created snapshots after you edited the page(s)?

[2020-04-19 16:33] gekomod commented on #1144
yes i have created snapshots before and after editing

[2020-05-10 13:34] RSalo commented on #1144
First of all you should add "global" page like this https://github.com/sonata-project/sandbox/blob/443bfe3fa20569c1dea640e6da43321ab053b588/src/Sonata/Bundle/DemoBundle/DataFixtures/ORM/LoadPageData.php#L1031 Or create automatically:
[code]
And then your "global" blocks will be in this page.

[2020-05-17 22:59] RSalo commented on #513
Confirm. If I try to add children page through composing I getting AJAX error.

[2020-06-14 20:00] gremo opened #1163 "Unable to delete blocks: RESTRICT on parent_id foreign key. What (offending commit inside)?"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
The `CASCADE `option for the foreign key `parent_id` has been removed from the . Defaults to `RESTRICT`. This is the [offending commit](https://github.com/sonata-project/SonataPageBundle/commit/331446bad6766aded5b6510f7bea2ec8740a3233?diff=split).

## Steps to reproduce
Create a block

[2020-06-14 20:12] gremo commented on #1163
Just to be clear: @wbloszyk you committed this with @OskarStark . @greg0ire you released this in 3.17.1.

Commit 331446b was included in release 3.17.1 changing the foreign keys behavior.

Is a **patch version** (from 3.17.0  to 3.17.1) supposed to do such a breaking change? Does commits gets reviewed, in terms of semantic version and impact on other people applications/sites? Why when something i

[2020-06-14 20:32] VincentLanglet commented on #1163
No

We try to.

This can happen with open source. There is a lot of work to do and only a few contributors, working on they spare time for Sonata with no sponsor. I you're no happy with it and think you can do better, build your own software ; nobody force you to use it ;)

[2020-06-14 20:48] greg0ire commented on #1163
Because you @gremo do not review the PRs. Please watch the repositories and start doing so. If that does not work out, at least you will have gained a deep understanding of why such failures can happen.

[2020-06-14 21:24] wbloszyk commented on #1163
@gremo

Agree

Agree

Are you read [LICENSE](https://github.com/sonata-project/SonataPageBundle/blob/3.x/LICENSE)?
Are you read PR [descriptions](https://github.com/sonata-project/SonataPageBundle/pull/1153)?
Are you revert this PR and check is it working?

[2020-06-14 22:12] gremo commented on #1163
Just because it's open source it has not to be bad, full of bugs or not following semver, at least. And for sure, can't put that commit in a patch version.

[2020-06-14 22:17] gremo commented on #1163
Honestly, can't understand what you are saying. It's your PR, you fixed some related to MSSQL, good to know.

Your PR says a generic sentence: _change some database cascade delete_.  So, how can people migrate to a new settings? Where is documented?

[2020-06-14 22:22] gremo commented on #1163
This can't be a serious answer. Instead of explaining why you actually published 3.17.1 with a big BC, you prefer to make some irony and get some thumbs up.

You know (or can't you remember?) that I contribute to Sonata project with some, probably minor, fixes and patches. You can always ping if you like to review some PR, if you are too busy with your work.

[2020-06-15 05:58] greg0ire commented on #1163
It is not completely serious as you guessed. If you want an explanation, I just didn't spot the BC break. Are you sure you would have spotted it if you were in my shoes?

I know full well and sorry, but it doesn't warrant such a behavior. As thankful as we are for your contributions, it doesn't mean we can accept your bullying.

The influx of PRs is constant, if I start pinging you on PRs I don't

[2020-06-15 10:34] gremo commented on #1163
@greg0ire don't get me wrong. I'm to trying to make you feel "guilty" or blame @wbloszyk for a totally unintelligible PR. I also love open source, made a few projects, trying to help people and trying to not break other people work. Open source doesn't mean "I don't give a f*** if something breaks, we do what we want, read the LICENSE". There should be a _minimum of responsibility_.

I'm not bully

[2020-06-15 11:06] simonoche opened #1164 "RememberMe Issue"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

PHP 7.4.7 (cli) (built: Jun 12 2020 00:04:10) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with Zend OPcache v7.4.7, Copyright (c), by Zend Technologies

## Subject

First load of any page, with a valid "remember me" cookie set AND when the session cookie h

[2020-06-15 11:29] wbloszyk commented on #1163
Let's leave this discussion. We have issue to resolve.

For now sonata-project don't support all sql platform (mssql, probably some other too).
https://github.com/sonata-project/dev-kit/issues/689

I think all sonata-project working on doctrine. We extends bundles configuration by new option `entity_manager` : '@doctrine.entity_manager' from getting platform is possible. Then we can load cascade b

[2020-06-15 11:44] gremo commented on #1163
@wbloszyk can you explain what exactly doesn't work with MSSQL? If I understand right, Doctrine can't support MSSQL?

- Database cascade is not supported (that's why you removed the line `'onDelete' => 'CASCADE'`)
- Doctrine cascade behaviour is not supported (that's why you removed the line `remove`)

[2020-06-15 11:44] greg0ire commented on #1163
It's documented at length here: https://github.com/sonata-project/dev-kit/issues/689 (which is linked in the PR, BTW)

Your should proofread your sentence, one could argue this one is unintelligible if they wanted to be sarcastic. And with your tone, I can tell that this feel a bit judgmental, coming from someone who maintains OSS projects that are nowhere near the size of Sonata. What you achieve

[2020-06-15 11:46] simonoche commented on #1164
I can confirm this issue only appears for editors.
Basic users (ROLE_USER) are not affected by this behavious.

[2020-06-15 11:55] gremo commented on #1163
@greg0ire ok let' stop. I agree with you that the number of Sonata issues is really high in respect of  a few project I maintain. But there is a community, just ask if you need some help. Sorry for being too much aggressive.

Anyways, I recently made a project using (as second doctrine connection) a MSSQL database. I never had issues at least with `onDelete="CASCADE"` issue. Didn't tested any casc

[2020-06-15 12:30] greg0ire commented on #1163
Apology accepted. I understand how frustrated you are. To answer your questions more fully, I don't use Sonata, which means I don't even have a project on which to test things. Besides, I wouldn't know where to start when it comes to installing mssql. And last but not least, it would just take too much time, which means we rely solely on unit tests and static analysis for catching bugs. IIRC there

[2020-06-15 16:02] wbloszyk commented on #1163
@gremo @greg0ire

All (expect 1) my contributions are for sonata-project. As you wrote sonata-project is huge OSS project. I using it in almost all my projects. This mean it is very important for me to keep it bug free. That why i working on sandbox 3.0 where we can run functional test based on behat.

My commits make this bug. I made it base on:
https://stackoverflow.com/questions/27472538/cascad

[2020-06-21 13:24] #1163 closed

[2020-06-26 06:55] tkAlexander opened #1168 "Declaration of SharedBlockBlockService::validateBlock must be compatible with AbstractAdminBlockService::validateBlock"
#829 Declaration of SharedBlockBlockService::validateBlock must be compatible with AbstractAdminBlockService::validateBlock

# Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Declaration of Sonata\PageBundle\Block\SharedBlockBlockService::validateBlock(Sonata\CoreBundle\Validator\ErrorElement $errorElement, Sonata\BlockBundle\Model\Bl

[2020-07-06 10:18] core23 opened #1174 "Remove oppressive words from code"
## Feature Request

We should avoid terms like *blacklist*, *whitliste, *master*, *slave*, ... and use more tech-related words like *blocklist*, *prmary*, *secondary*,...

In this repo, we use the term *whitelist* which could be replaced with *allowlist*:
https://github.com/sonata-project/SonataPageBundle/blob/3.x/assets/src/js/composer.js#L787
https://github.com/sonata-project/SonataPageBundle/bl

[2020-07-08 13:13] tonyellow commented on #1168
having the exact same problem!

[2020-07-08 13:33] wbloszyk commented on #1168
@tkAlexander @tonyellow Can you check this change by use `"sonata-project/form-extensions": "0.x-dev as 0.1.3"`?
https://github.com/sonata-project/form-extensions/commit/d8bc00913d2b63ee39a25f668a912c59d68f3732

This should fix this error, if it work then @greg0ire can release it.

[2020-07-08 13:49] tonyellow commented on #1168
@wbloszyk I don't see sonata-project/form-extensions in my composer

[2020-07-08 13:55] jordisala1991 commented on #1168
Then, you should add the requirement to see if a new release of that dependency could fix the issue

[2020-07-08 14:08] wbloszyk commented on #1168
@tonyellow You don't have it in your composer but composer install it as other package/bundles dependencies. Check it by:
[code]

[2020-07-08 14:23] tonyellow commented on #1168
ok @wbloszyk thanks for sharing, didnt know this. I would really like to help out but how can i change the version of this package while it is not in my composer.json?

[2020-07-08 14:31] wbloszyk commented on #1168
@tonyellow  just add `"sonata-project/form-extensions": "0.x-dev as 0.1.3"` to yours composer in `require` section and run:
[code]

[2020-07-08 14:37] tonyellow commented on #1168
I fixed the block bundle to 3.20 and added the dependancy for form-extensioons. Then i run composer update having the exact same error again:

Here is my updated composer.json:

{
    "license": "MIT",
    "require": {
        "php": "^7.1.3",
        "ext-ctype": "*",
        "ext-iconv": "*",
        "api-platform/api-pack": "^1.1",
        "doctrine/doctrine-bundle": "^1.0",
        "doctrine/d

[2020-07-08 14:48] wbloszyk commented on #1168
Can you do it:
[code]

[2020-07-08 15:05] tonyellow commented on #1168
[code]
$ composer show --latest 'symfony/*'
Restricting packages listed in "symfony/symfony" to "4.3.*"
symfony/asset                      v4.3.11 v4.3.11 Symfony Asset Component
symfony/cache                      v4.3.11 v4.3.11 Symfony Cache component with PSR-6, PSR-16, and tags
symfony/cache-contracts            v1.1.9  v2.1.3  Generic abstractions related to caching
symfony/config

[2020-07-08 15:22] wbloszyk commented on #1168
@tonyellow Upgrade symfony to 4.4 by:
[code]

This will allow upgrade this package (remove form-extensions in composer before):

Then core-bundle will not be installed and *-extensions will be upgrade to 1.x

register this extensions in config/bundles.php:
[code]

[2020-07-10 07:48] tonyellow commented on #1168
@wbloszyk Sorry for the delay. I did all this but it results in a new error:

The service "twig" has a dependency on a non-existent service "sonata.doctrine.model.adapter.chain".

[2020-07-10 07:53] tonyellow commented on #1168
Resolved it by adding:     Sonata\Doctrine\Bridge\Symfony\Bundle\SonataDoctrineBundle::class => ['all' => true],

[2020-07-10 07:54] tonyellow commented on #1168
Now more errors, Could not load type "Sonata\CoreBundle\Form\Type\DateRangePickerType": class does not exist.
I guess these files have moved. Let me see when I am at the office if I can easily resolve this. Seems like a lot of work has been done on Sonata, awesome ofcourse!

[2020-07-10 08:03] tonyellow commented on #1168
I resolved all error regarding flash messages and forms by following the advices here: https://github.com/sonata-project/SonataAdminBundle/issues/6173

Thanks for all the great work!

[2020-07-10 08:14] wbloszyk commented on #1168
@tonyellow Some time ago I drop CoreBundle in whole Sonata 3 becouse it is deprecated bundle. You are using some Sonata 3 bundles where CoreBundle is require and some bundle where it is not. You have 3 option to resolve it:
- upgrade Symfony to 4.4 then dependencies will not be require CoreBundle
    - doctrine, form, twig -extensions must register in `config/bundles.php`
- dont upgrade Symfony an

[2020-07-10 08:50] tonyellow commented on #1168
@wbloszyk I'm currently on Symfony 4.4.10 by folowing all your advices in this topic. I removed all references to the CoreBundle in my project and loaded the extensions in config/bundles.php. Everyhting works.

[2020-07-10 10:14] VincentLanglet commented on #1168
We just need to release 0.1.3 of form extension to close this @wbloszyk ?

[2020-07-10 10:21] VincentLanglet commented on #1168
Isn't this already release as 0.1.2 ?

[2020-07-10 10:48] wbloszyk commented on #1168
@VincentLanglet I forgot about changelog in 0.x it not and should not be updated.

[2020-07-10 10:53] #1168 closed

[2020-07-25 17:38] jordisala1991 opened #1177 "Add support for SonataDoctrineMongoDBAdminBundle"
## Feature Request

Currently this project only works with the orm persistence bundle. It could be nice to add support for mongoDB aswell.

[2020-07-29 10:57] #630 closed

[2020-09-11 20:12] tonyellow opened #1199 "Use $request->getLocale() in RequestListener"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
When using the render_esi twig tag in a sonata controlled website i get a locale error:

An exception has been thrown during the rendering of a template ("Invalid locale - site.locale=en - request._locale=").
in vendor/sonata-project/page-bundle/src/Listener/RequestListener.php (line

[2020-09-24 07:29] haivala opened #1206 "Problem with Internationalized routing"
### Environment
Dockerized linux Symfony project
#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
I have `$page = $cms->retrieve()->getCurrentPage()` in my dynamic page controller and it was working fine.
Then I tried to use this: https://symfony.com/blog/new-in-symfony-4-1-internationalized-routing
and now the it does not work
## Steps to reproduce

[2020-10-03 18:44] OmAshish commented on #1174
Hi core23! I would like to contribute in this! Can I get the task? 😃

[2020-10-03 18:47] core23 commented on #1174
There's already an open PR https://github.com/sonata-project/SonataPageBundle/pull/1209. Maybe you can help to get this done.

[2020-10-05 17:42] #1174 closed

[2020-11-13 15:00] #1144 closed

[2020-11-24 15:56] core23 opened #1238 "Remove coupling to NotificationBundle"
## Feature Request

This is the last bundle that relies on the [SonataNotificationBundle](https://github.com/sonata-project/SonataNotificationBundle/) for no good reason. The original idea was to allow async snapshot creation / cleanup. This can also be done via commands and shouldn't take too long for a normal number of pages.

To allow deprecating the usage, we could introduce a new `SnapshotMan

[2020-11-26 18:06] haivala opened #1239 "#786 is still relevant"
it should be reopened.
https://github.com/sonata-project/SonataPageBundle/issues/786

There is no way to make a new snapshot so that it would be released in the future.

[2020-11-26 18:23] VincentLanglet commented on #1239
Please don't open issue to refer other issue.

If you really want the issue to be solved, just give more information, use bisect to find when it was introduced, etc.

[2020-11-26 19:14] haivala commented on #786
is it this one? https://github.com/sonata-project/SonataPageBundle/blame/a2d83e6c02f566222bc04827885566d981270176/Entity/SnapshotManager.php#L86

[2020-11-28 08:05] haivala commented on #786
yeah so the query just needs `AND publication_date_end IS NULL ` at the end and it'll fix this problem so that the query does not effect all of the snapshots

I think that this is not the place where the date should be defined.
While creating a new snapshot (probably in postCreate?) we should take the `publication_date_start` and update that to the `publication_date_end` on the last snapshot.

[2020-12-05 09:01] #786 closed

[2020-12-19 12:01] #1164 closed

[2021-03-03 09:00] core23 opened #1282 "Remove `sonata_admin` deprecations in twig templates"
## Feature Request

The global twig constant `sonata_admin` was deprecated.

Refs: https://github.com/sonata-project/SonataAdminBundle/pull/6640#pullrequestreview-602353439

[2021-03-18 10:02] #1199 closed

[2021-03-23 09:53] haivala commented on #1206
basically this means that the pageBundle does not support dot route notation for lang

[2021-04-08 09:24] gremo opened #1291 "Saving a block deletes all children"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

Serious issue here, saving a block deletes all children:

![SonataPageBundle bug](https://user-images.githubusercontent.com/1532616/114002157-e9b07180-985c-11eb-9ebe-c301d498

[2021-04-08 10:56] gremo opened #1292 "Deleting a block from the page composer doesn't update the site"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

Deleting a block from the page composer doesn't update the site:

![SonataPageBundle bug](https://user-images.githubusercontent.com/1532616/114015179-b1fbf680-9869-11eb-93e4-

[2021-04-09 06:27] franmomu opened #1294 "Replace `sonata.core.slugify.cocur` by `sonata.page.slugify.cocur`"
## Feature Request

I was trying to install the bundle and it failed:

[code]

After https://github.com/sonata-project/SonataPageBundle/pull/1156 there is no need of `core-bundle`, we should update references from `sonata.core.slugify.cocur` to `sonata.page.slugify.cocur` and also the recipe: https://github.com/symfony/recipes-contrib/blob/master/sonata-project/page-bundle/3.9/config/packages/sona

[2021-04-12 18:04] #1294 closed

[2021-04-13 15:07] franmomu opened #1299 "No entity manager defined for class Sonata\PageBundle\Model\SnapshotPageProxy when composing on inline edition"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

## Subject

Maybe somehow related to #513.

Apparently the `page` object in

https://github.com/sonata-project/SonataPageBundle/blob/591a224473caee21233562f9935800bd32b0c38a/src/Resources/views/base_layout.html.t

[2021-04-14 10:31] #1282 closed

[2021-04-15 10:59] #1299 closed

[2021-04-18 21:25] #1292 closed

[2021-05-03 10:04] gremo commented on #1291
Any update on this? Right now, the workaround for me is a custom `BlockAdmin` class:

[code]

That is, the copy-paste of the original admin methods but without `$object->setChildren($object->getChildren())`.

[2021-05-05 18:02] eerison opened #1311 "Create sonata_path extension"
## Create sonata_path extension

I'm using `page_alias` to link pages in my twig files

example

[code]

But in case the user remove the page I'll get an exception and it'll breaking my whole page.

then my Idea is create a TwigExtension to use this routers

example:

[code]

then you can use in yours twig templates like this

[code]

[2021-05-05 18:07] VincentLanglet commented on #1311
When I look at the implementation this seems not related to Sonata (or SonataPage) at all. So I'm not sure it's a good idea to add this in this bundle.

This seems maybe better in another repository, and directly implemented by the developer inside his project.

[2021-05-05 18:13] eerison commented on #1311
I see, I thought to put in sonata project because others developers can have  the same problem.

[2021-05-05 18:16] eerison commented on #1311
Then I'll close this issue for now :)

[2021-05-05 18:16] #1311 closed

[2021-05-27 10:06] eerison opened #1316 "Create a command to check the pages route"
## Create a command to check the pages route

create a command line like `debug:router` it could be `sonata:page:debug:router`

and with it, I can get information about sonata pages router.

[2021-05-27 16:20] eerison opened #1317 "Add EventDispatcher after create a snapshot"
## Add EventDispatcher after update or create an snapshot

after create  a snapshot I will dispatch an event to be able create listeners for who implement this lib.

e.g:
[code]

[code]

I'll put this after this line
https://github.com/sonata-project/SonataPageBundle/blob/3.x/src/Controller/SnapshotAdminController.php#L67

[2021-05-28 13:04] eerison commented on #1317
let me know if does it make sense, if yes I'll open a Pull request :)

[2021-05-28 13:22] VincentLanglet commented on #1317
There is already the call `$this->admin->create($snapshot);`

Wouldn't it better to create an AdminExtension to dispatch action after every action create/edit/...
The AdminExtension could be here: https://github.com/sonata-project/SonataAdminBundle/tree/3.x/src/Admin/Extension
And then the SnapShot admin could use this admin extension.

[2021-05-28 13:50] eerison commented on #1317
@VincentLanglet
Hmmm I don't fully understand how it works.

could you give any example?

[2021-05-28 13:54] VincentLanglet commented on #1317
If we're doing something like https://github.com/sonata-project/SonataAdminBundle/blob/3.x/src/Admin/Extension/LockExtension.php

Implementing all the PostCreate, PostUpdate, PostDelete, etc methods and dispatching an event inside.

Then, the admin class will call these method https://github.com/sonata-project/SonataAdminBundle/blob/3.x/src/Admin/AbstractAdmin.php#L616 if the Extension is added to

[2021-06-03 15:24] gremo opened #1318 "Block validation doesn't work properly in page composer"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

Block validation doesn't work properly in page composer. I've used Sonata in many projects and block validation was working properly; I can't track which update broke that th

[2021-06-03 16:03] VincentLanglet commented on #1318
For the record, the validate method is deprecated in Sonata 3 and will be removed in Sonata 4.

[2021-06-04 07:47] gremo commented on #1318
Hi @VincentLanglet , I know. What's the suggested alternative method and will it solve the issue describred?

[2021-06-04 07:49] VincentLanglet commented on #1318
I don't know the ImmutableArrayType

But if it was an classic TextType, the recommended way would be
[code]
like you would have done with a Symfony form

[2021-06-04 08:03] gremo commented on #1318
Ok @VincentLanglet I'll give it a try. BTW, where I can find an example of how correctly implement a block service (I mean without deprecations etc.)? Because all sonata packages, event the sandbox, are missing that or are quite outdated.

[2021-06-04 08:06] VincentLanglet commented on #1318
Oh, I thought it was an admin.
Maybe this validate method is not deprecated (but maybe should be).

I saw @jordisala1991 using it in https://github.com/sonata-project/SonataMediaBundle/pull/1963

BTW, in the doc it's `->with('settings.title')` and you're doing `setting[title]` i don't know if it's the reason.

[2021-06-04 08:11] gremo commented on #1318
@VincentLanglet I think is still relevant to SonataPageBundle because (if I'm right) it's something related how to returned JSON is parsed / error has shown. I'll try with `->with('settings.title')` 👍

[2021-06-07 08:27] gremo commented on #1318
@VincentLanglet with -`>with('settings.title')` validation doesn't work at all (no errors, block is saved). With `'constraints' => [new Assert\NotBlank()]` the same problem happens (no validation message appears).

[2021-06-07 10:30] gremo commented on #1318
@VincentLanglet I've found the issue and the resolution 🥳 . I can't make a PR because `npm run build` does nothing on my system, don't know why. Assets are not created (`sonata-page.back.js`).

What's happening then? Well, [this commit changed](https://github.com/sonata-project/SonataAdminBundle/commit/7d92242f230c070a8b993ad0d18def7b82fca29f) the way Ajax requests are threated. This is [the relat

[2021-06-07 10:49] VincentLanglet commented on #1318
Shouldn't you edit directly `assets/src/js/composer.js` and make a PR with this change ?
I'm not sure to understand what you want to build.
There is no `sonata-page.back.js` committed isn"t it ?

[2021-06-07 10:52] gremo commented on #1318
Well I think that one should edit `assets/src/js/composer.js` and then use `npm run build` (Gulp under the hood) to build the assets placed in `Resources/public`, which are committed (both minified and not minified version). I may be wrong but it seems reasonable.

[2021-06-08 07:31] gremo commented on #1318
@VincentLanglet do you need anything else?

[2021-06-08 07:33] VincentLanglet commented on #1318
Someone with the time to do a PR to edit all of these files ^^'

[2021-06-08 14:55] gremo commented on #1318
I'll do it if someone (who?) can explain me the build process for the assets 🤣

[2021-06-08 15:16] VincentLanglet commented on #1318
Last PR on those file were https://github.com/sonata-project/SonataPageBundle/pull/973
There is also https://github.com/sonata-project/SonataPageBundle/pull/1209

Maybe @jlt10 @covex-nn can help you

[2021-07-15 08:47] gremo commented on #1318
Is this project still active? It's a majoir issue I think, it's so sad seeing no one cares :(

[2021-07-15 09:36] VincentLanglet commented on #1318
The asset `sonata-page.back.min.js` is only supposed to be build if the `sonata-page.back.js` file is changed, so just open the PR with your `assets/src/js/composer.js` change.

[2021-07-15 10:07] gremo commented on #1318
Thanks @VincentLanglet I've submitted the PR, can you please check it and maybe release, so we can see if `sonata-page.back.js` will be changed?

[2021-07-15 12:41] #1318 closed

[2021-07-15 12:45] VincentLanglet commented on #1318
It will be in the next release: https://github.com/sonata-project/SonataPageBundle/pull/1321

[2021-07-19 07:39] gremo commented on #1318
I confirm that it works now, thanks @VincentLanglet

[2021-09-14 15:04] gremo commented on #1291
@VincentLanglet or anyone? Can you replicate the issue?

[2021-09-14 15:08] gremo commented on #1291
Yes, I know. Sure, I can setup a custom repository... which bundle of the Sonata project should I include?

[2021-09-14 15:20] gremo commented on #1291
Yes, that is the error. Removing that line results in the "normal" behaviour. I can also search for other bundles (maybe the SonataMedia one) that removed that line at some point in the past.

[2021-09-28 11:41] lapsoft opened #1364 "User Deprecated: The "templating.locator" service is deprecated"
There is a conflict with `User Deprecated: The "templating.locator" service is deprecated`:
https://github.com/sonata-project/SonataPageBundle/blob/b1af3988017b32a2ea58fcfd61ae90ea019cee17/src/Block/BreadcrumbBlockService.php#L24
In all services with extended BreadcrumbBlockService we can't change from Symfony\Bundle\FrameworkBundle\Templating\EngineInterface to Twig\Environment

[2021-10-04 11:55] haivala opened #1367 "Add support for i18n routing"
## Feature Request
I have dynamic pages and I have defined them like this:
https://symfony.com/doc/current/routing.html#localized-routes-i18n
and I use https://docs.sonata-project.org/projects/SonataPageBundle/en/3.x/reference/multisite/#host-by-locale-strategy

when I run the update-core-routes command those dynamic pages are updated to all of my sites so I end up with many duplicate pages as one

[2021-10-04 12:38] haivala opened #1368 "Documentation: How to use symfony action page"
## Feature Request

It is not mentioned anywhere how one should get the current cms page in symfony action page controller

[2021-10-15 13:13] haivala commented on #1368
What I'm doing now is
[code]
And this does not work with internationalized routing: https://github.com/sonata-project/SonataPageBundle/issues/1367

[2021-10-25 10:16] gremo opened #1376 "Block validation (edit mode) doesn't work properly in page composer"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

Related to #1318 fixed in create mode by #1323. In edit mode, the problem still persist:

![oIlSUQjKqJ](https://user-images.githubusercontent.com/1532616/138676770-b916ce98-a

[2021-10-31 09:34] VincentLanglet commented on #1376
I tried https://github.com/sonata-project/SonataPageBundle/pull/1377

[2021-11-06 14:34] #1376 closed, assigned to nobody

[2021-11-23 14:11] eerison commented on #1316
let's close this issue, if it's necessary I can open again ;)

[2021-11-23 14:11] #1316 closed

[2021-12-01 14:01] #1317 closed

[2021-12-08 04:20] RSalo opened #1391 "Upgrade to Sonata v4/5"
Hi. There is composer exception:
[code]

[2021-12-08 08:03] VincentLanglet commented on #1391
As you can see, SonataPageBundle does not support Sonata4, only Sonata3.
Some work have already been started to add the support on the next major version, but that's not a small task.
https://github.com/sonata-project/SonataPageBundle/pull/1370

We're currently focusing on other bundles https://github.com/sonata-project/dev-kit/issues/1715
but any help is welcomed.

[2021-12-08 08:03] #1391 closed, assigned to nobody

[2021-12-11 01:30] RSalo opened #1395 "Shared Containers"
Hi. There is a parameter "shared" in containers. It seems to do nothing or I can't fully understand how it should work. Example:
[code]
Any example of usage? Thanks!

[2022-02-15 17:05] kursez opened #1407 "Ckeditor textarea resize events overridden from block order reorder mouse drag events"
<details><summary>When trying to resize the textarea box of the CKeditor included in a block inside the blocks list of a sonata page bundle page the resizing triggers the JS block reordering mouse events which immediately close the block details</summary>
<p>

$ composer show --latest 'sonata-project/*'
sonata-project/admin-bundle              3.106.1 4.8.1  The missing Symfony ...
sonata-project/

[2022-03-03 16:26] dunglas opened #1410 "Symfony 5 and 6 support"
## Feature Request

The bundle does not currently support recent versions of Symfony. Symfony 4 will not be maintained anymore in November. Is there a plan to make this bundle compatible with recent versions?

[2022-03-03 20:34] jordisala1991 commented on #1410
Hi! At this moment we are finishing the upgrade for SonataUserBundle, we have two more bundles missing an upgrade: SonataFormatterBundle and SonataPageBundle.

Sadly we are currently not a lot of people maintaining Sonata and we have to focus our efforts on the most used bundles.

We have another problem for this particular bundle. None of the current maintainers have ever used it.

Do you use thi

[2022-03-03 21:19] VincentLanglet commented on #1410
Btw, our todo list for all the sonata bundle can be found here https://github.com/sonata-project/dev-kit/issues/1715

[2022-03-14 17:25] kursez commented on #1410
How can I get in contact with the people that are helping making this happen, I want to contribute

[2022-03-14 20:22] greg0ire commented on #1410
@kursez I would recommend #sonata on [the symfony-devs slack](https://symfony.com/slack-invite).

[2022-03-14 21:24] VincentLanglet commented on #1410
We can use this issue to discuss about what to do @kursez.
@jordisala1991 and I can help you about the changes needed.

To be able to support SF5/6, we'll have to drop the following bundle:
- SonataNotificationBundle
- SonataCacheBundle

The first one need to be replaced by the Symfony messenger component, the second one by the Symfony cache.

But the first step could be, on the 4.x branch of Sona

[2022-03-20 18:13] haivala commented on #1291
I think this should not be closed..

[2022-03-20 18:19] VincentLanglet commented on #1291
Do you encounter the issue ? Can you provide a fix ?

[2022-03-21 07:33] gremo commented on #1291
@VincentLanglet I've provided a fix simple removing the call:

[code]

[2022-03-21 08:46] VincentLanglet commented on #1291
I know nothing about this bundle and the previous issue you listed on MediaBundle.
But if you think this is a good fix, please open a PR (with maybe a test if possible)

[2022-04-03 12:00] #1364 closed, assigned to nobody

[2022-04-09 13:12] haivala commented on #1367
This is clearly a bug should not be closed

[2022-04-20 16:01] #1368 closed, assigned to nobody

[2022-04-20 16:30] haivala commented on #1368
I think this should not be closed..

[2022-04-21 08:17] mareckigit commented on #1410
Have you started work on the new version yet?

[2022-04-21 08:19] VincentLanglet commented on #1410
I don't think anybody started, so feel free to provide a PR.

[2022-04-21 08:54] Haniki commented on #1410
Hi, I tried that on my own, it should be working with SF4.
I won't have time to continue this, and I'm not sure to understand enough this project to make it the right way.

Anyways I've made a pull request in case it might help. Feel free to improve my code or delete that PR if it is not what it supposed to be like.

[2022-04-21 08:58] mareckigit commented on #1410
@VincentLanglet What do you mean by drop SonataCacheBundle? Basically, I don't see the need to use an ESI / SSI / JS ASYNC cache for blocks. Blocks can be saved in the Symfony cache like Redis and this is part of the Block Bundle.

[2022-04-21 09:02] VincentLanglet commented on #1410
Those dependency need to be removed https://github.com/sonata-project/SonataPageBundle/blob/3.x/composer.json#L30-L31 because they are not maintained anymore.

I don't know why they are currently used ; but either the feature must be removed, either it must be migrated to something else like symfony cache.

[2022-04-21 09:22] mareckigit commented on #1410
I understand why they should be removed, but don't see the need to replace them. I'm going to prepare fork to build the version without SonataCacheBundle and SonataNotificationBundle. My goal is compatibility with SF 5.4 and PHP 8.0.

@Haniki the current official release 3.x works with SF 4.4

[2022-04-21 09:38] VincentLanglet commented on #1410
he meants SF5/6

[2022-04-22 15:22] eerison commented on #1410
I saw your MR @Haniki, But it's quite big 😄

@mareckigit @kursez and @Haniki (in case you find some time for this 😃 )

what do you think to create small Pull requests and we going to merge this into `4.x` branch?

because to review a PR with all stuffs are quite hard I guess!

we could open different PR for example:

-  #1415
- #1096
- #1416
- #1417
- Add compatibly Symfony 6

the idea is just cre

[2022-04-22 15:43] VincentLanglet commented on #1410
I agree it will be easier to review.

he said that he won't have time to continue this, so
- either someone finish the PR
- either we merge it like this and then people try separate fix
- either people open smaller PR helped by this big one (preferred solution)

[2022-04-22 15:46] eerison commented on #1410
Ok, I'll take this as a start

I will do the `remove SonataNotificationBundle` 😃

[2022-04-22 15:50] eerison opened #1415 "Remove SonataNotificationBundle from dependencies and code"
## Remove SonataNotificationBundle

As discussed in #1410 , we need to remove `SonataNotificationBundle` from the next major release

- [x] #1418
- [x] #1434
- [x] #1460

**Create tickets**
- [x] #1433 Create a ticket to remove all `consume code`
- [x] #1453
- [x]  remember to `set self deprecation = 0`
- [x] #1426

[2022-04-22 15:52] eerison commented on #1096
@VincentLanglet can you add this in https://github.com/sonata-project/SonataPageBundle/milestone/1

please :)

[2022-04-22 15:55] eerison opened #1416 "Support symfony 5 and Sonata 4"
## Support `Symfony 5` and `Sonata 4`

It's a sub task from #1410

**Note:** this issue is blocked by
- [x] #1096
- [x] #1415
- [x] #1420
- [x] #1433
- [x] #1475
- [x] #1417
- [x] #1477
- [x] #1442
- [x] #1491
- [x] ~~#1454~~

[2022-04-22 15:57] eerison opened #1417 "Remove deprecated code"
### ⚠️ Deprecations that need to be solved for **Symfony 5** upgrade.

Remaining direct deprecation notices (6)
  - [ ] https://github.com/sonata-project/SonataAdminBundle/pull/7867 1x: The "Sonata\AdminBundle\Admin\AbstractAdmin::getBaseRoutePattern()" method is considered final since sonata-project/admin-bundle 3.102. It may change without further notice as of its next major version. You should

[2022-04-22 16:00] eerison commented on #1415
I'm on it!

[2022-04-22 16:52] VincentLanglet commented on #1238
I'll close this in favor of https://github.com/sonata-project/SonataPageBundle/issues/1415

[2022-04-22 16:52] #1238 closed

[2022-04-27 07:35] eerison commented on #1415
Hey @core23

I didn't see your Issue regarding `NotificationBundle` #1238 , my bad

https://github.com/sonata-project/SonataPageBundle/issues/1238#issue-749833646

But if I understand correct we do not need to use symfony/messager component, or is it necessary?

could you give some example(s) how was you thinking to remove this decency?, I guess you understand this functionality better then me 😄

[2022-04-27 07:40] eerison commented on #1415
do you mean create and remove snapshots from the database?

do you know where we are managing this logical (to create and remove snapshots) using NotificationBundle? just to have a better understand :)

Edit 1: Hmmm I saw that it was already created `SnapshotManagerInterface` and `SnapshotManager`, I'll take a look why we are still using NotificationBundle in the code ;)

[2022-04-28 10:37] eerison commented on #1415
Started to deprecate NotificationBundle in #1418

[2022-04-30 06:07] core23 commented on #1415
The idea of my issue was to remove the whole async processing, because a "normal" website should be able to create snapshots on the fly.

The notification bundle or messager component adds a complexity to this bundle that is not necessary.

[2022-04-30 07:20] eerison commented on #1415
Hey @core23 thank you for reply, make sense to remove this async, because after the project is on production, we usually publish one page when it's needed.

[2022-05-10 12:17] axio-vincent commented on #1410
Hello

Where is the #sonata ???

![image](https://user-images.githubusercontent.com/92991259/167626265-2caa496a-44d7-492d-ae9d-3569746c7ef2.png)

[2022-05-10 14:15] eerison opened #1420 "Remove dependency of ContainerAwareCommand"
## Remove dependency of ContainerAwareCommand

As `ContainerAwareCommand` is deprecated since [Symfony 4.2](https://symfony.com/blog/new-in-symfony-4-2-important-deprecations#deprecated-containerawarecommand), we should remove code that extends from that Class! like [`src/Command/BaseCommand.php`](https://github.com/sonata-project/SonataPageBundle/blob/3.x/src/Command/BaseCommand.php)

[2022-06-15 10:17] mareckigit commented on #1415
I have removed Sonata Notification in my fork: https://github.com/treehousedevelopers/SonataPageBundle/commits/4.x. You can use it with Symfony 5.4 but I'm still working on it.

[2022-06-15 10:32] eerison commented on #1415
Hi @mareckigit

I didn't find what commit, you are removing the code, But as I can see you are removing this directly from `4.x` and we need to create some BC compatibility to the code works in 3.x release!

But we should save our energy to work in different tasks, as I'm working in remove this notification bundle you could work in other task that, as far as I know anyone is working on that, for e

[2022-06-15 11:36] mareckigit commented on #1415
My goal is to prepare Sonata Page version that will be work with Symfony 5.4. I do my changes in branch 4.x because I expect that is dedicated for Symfony > 4.
My fork includes:
- #1414;
- #1415;
- #1422;
- changes in commands;
- fixes for SF 5.4 and Twig 3.

[2022-06-16 10:00] #1395 closed, assigned to nobody

[2022-06-30 07:43] Hanmac commented on #1096
I did some brain storming about Removing Sonata Cache(Bundle) from Page Bundle.

* Block [ESI Cache](https://symfony.com/doc/current/http_cache/esi.html) and Block [SSI Cache](https://symfony.com/doc/4.4/http_cache/ssi.html) use features more related to symfony http cache than [symfony cache](https://symfony.com/doc/current/components/cache.html).
* I think the change should be done in two parts:

[2022-06-30 08:23] eerison commented on #1096
what do you mean "Make Page Bundle uses PSR-6"? implement something or just make it uses : https://symfony.com/doc/current/components/cache.html#cache-contracts-versus-psr-6 ?

[2022-06-30 08:34] Hanmac commented on #1096
yeah that's another interface i could bind check.
I think we should prefer that one over the others because it has callbacks

[2022-06-30 09:12] eerison commented on #1096
if you prefer do this ticket in 2 part it's fine, I guess it's better to review :)

can you open a DRAFT pull request when you do something :)

[2022-07-01 08:03] Hanmac commented on #1096
one thing i didn't found yet, is it configurable what pages/blocks are cached and how long?

or should i try to add such option? (per page/block?)

[2022-07-01 08:45] eerison commented on #1096
I guess it's fine you add the option, if it's easiest for you :)

just remember that you need to add a default value for whom didn't add any configuration.

[2022-07-01 16:00] eerison opened #1426 "Refactor the Cleanup query"
## Refactor the cleanup query

the clean up code uses this query: https://github.com/sonata-project/SonataPageBundle/blob/3.x/src/Entity/SnapshotManager.php#L228-L288, and we should refactor this to  DQL query, maybe this can help: https://stackoverflow.com/questions/6637506/doing-a-where-in-subquery-in-doctrine-2

should be really good if you can test this using `mysql` and `oracle` database. but

[2022-07-01 16:01] eerison commented on #1426
This ticket is not a block for #1415 , but should be really good if we could refactor this

[2022-07-01 16:04] eerison commented on #1426
@VincentLanglet

make sense to add this into roadmap 4.0 ?

[2022-07-01 16:05] VincentLanglet commented on #1426
It does not seem needed to me, since this change will be BC.
So it can be done before or after the 4.0 release, can't it ?

[2022-07-01 16:13] eerison commented on #1426
it is not a BC, But I thought that we're using the roadmap to track the tickets that should be in **release 4.0**!

I know it's not a must, it's just a wish :P

[2022-07-01 16:17] VincentLanglet commented on #1426
I try to track the tickets that we **need** for the 4.0.

It's still a good suggestion. But not a blocker for 4.0.
There is already so much to do, the question is "What are the minimal changes needed in order to release a bundle compatible with SonataAdmin4 and Symfony5". ;)

[2022-07-01 16:25] eerison commented on #1426
Good question :P, I'll try to check the deprecations that I got in test and see if I can create some ticket to fix them.

[2022-07-04 13:50] Hanmac commented on #1096
there is also https://twig.symfony.com/doc/3.x/tags/cache.html for doing caching of block/page segments

i need to understand the structure of block/page in sonata better, but in theory we could use symfony cache to check if a rendered block/page already exist, so no database is needed for blocks and pages with non static id?

then for some static blocks we could use twig cache too (if needed?)

a

[2022-07-07 07:59] eerison commented on #1096
Remove cache part 1 was solved here: #1427 🥳

it's just missing remove the code from 4.x branch 😃

[2022-07-07 08:44] Hanmac commented on #1096
should i wait until SonataCI does merge 3.x into 4.x?

[2022-07-07 11:19] Hanmac commented on #1417
is getting fixed by this: #1429

[2022-07-07 11:46] Hanmac commented on #1096
I did a PR for removing Cache in 4.x https://github.com/sonata-project/SonataPageBundle/pull/1430

i can rebase the PR if needed

[2022-07-07 13:34] jordisala1991 commented on #1096
Yes, better to wait for the merge.

[2022-07-08 08:07] #1096 closed

[2022-07-08 09:07] Hanmac commented on #1417
isn't fixed by #1423  but will be by #1436

[2022-07-08 09:14] eerison commented on #1417
Ok I changed ;) Thanks :)

[2022-07-09 08:29] Hanmac commented on #1417
1x in UniqueUrlValidatorTest::testValidateWithPageFound from Sonata\PageBundle\Tests\Validator
1x in UniqueUrlValidatorTest::testValidateWithRootUrlAndNoParent from Sonata\PageBundle\Tests\Validator

will be fixed by this: https://github.com/sonata-project/SonataPageBundle/pull/1437

The Translator was the culprit

[2022-07-09 10:17] Hanmac commented on #1417
@VincentLanglet how do i fix these two?

caused by this:
https://github.com/sonata-project/SonataPageBundle/blob/f66917525405ec7ecce0880043089bcf851019a1/src/Admin/SharedBlockAdmin.php#L39-L47

because these are "would be" final, i can't overwrite them like that, and if i would try to set them later, i can't overwrite the cached values?

[2022-07-09 19:34] VincentLanglet commented on #1417
You can override directly the protected variable
https://github.com/sonata-project/SonataAdminBundle/blob/4.x/src/Admin/AbstractAdmin.php#L112-L119

Can't it do the job ?

[2022-07-10 06:56] Hanmac commented on #1417
Yes I could set these but that doesn't work like the current function

Because BaseBlockAdmin doesn't set these values they need to be calculated from class. And when they do, the cache values are set. Now setting the variable doesn't change anything because of the cache ones.

for example i tried this:
[code]
which doesn't work because of cached values

[2022-07-10 08:17] VincentLanglet commented on #1417
Ok, I have some questions

- What are the current values of routePattern and routeName with the override ? I see it's `%s/shared` but I need to know the whole value to understand why we can't reproduce it with
[code]

- Why does it matter to suffix this with `shared` ? Can't we just remove the override and let the default behavior ? This is weird for instance to have a `/` in the baseRouteName, ev

[2022-07-10 10:07] Hanmac commented on #1417
the thing is done using `%sonata.page.admin.block.entity%` parameter for class and getting the dynamic part, then it uses the function above and adds `/shared` to it

for why it does it to not collide with the other page admin that uses the same entity as class

[2022-07-10 10:51] VincentLanglet commented on #1417
I currently doesn't see a better way than
https://github.com/sonata-project/SonataAdminBundle/pull/7867
which would allow the override in PageBundle.

WDYT @jordisala1991 ?

[2022-07-10 17:04] VincentLanglet opened #1442 "Solve the mess with array and ArrayCollection in Model/Entities."
There is multiple method which are typehinted with `Foo[]` but returns a Collection.

Issue 1: BlockInterface::children
https://github.com/sonata-project/SonataPageBundle/blob/3.x/src/Entity/BaseBlock.php#L33
and we can find a method to disable the lazy loading here: https://github.com/sonata-project/SonataPageBundle/blob/3.x/src/Model/Block.php#L55
which are called here: https://github.com/sonata

[2022-07-11 07:28] Hanmac commented on #1417
i need to run the tests for this again, but the only thing i see are the big Twig change
and the Command + Services change.

and both of them already got PRs

[2022-07-11 07:34] eerison commented on #1442
Hey @VincentLanglet

There is the same issue

No, what I use from  PageInterface is `getId()` only this

There is also something wrong with the Transformer:
We set an arrayCollection here as a value

I used this transform but indirectly [here](https://github.com/sonata-project/SonataPageBundle/blob/3.x/src/Service/CreateSnapshotService.php#L62), I didn't touch in that code

I jus got the same code

[2022-07-11 07:48] VincentLanglet commented on #1417
IMHO the command PR need to be restarted since we plan to
- Remove the BaseCommand
- Inject dependencies in the constructor
But it needs https://github.com/sonata-project/SonataPageBundle/pull/1434 I think

For twig there is some changes needed https://github.com/sonata-project/SonataPageBundle/pull/1423

And if you want to help to find a solution, there is this issue https://github.com/sonata-pro

[2022-07-11 07:57] Hanmac commented on #1442
imo for my projects i let it return Collection
but typehint it with `Type[]|Collection`

but i don't know what is your best idea

[2022-07-11 08:17] VincentLanglet commented on #1442
For Blocks, using Collection is not a bad idea, but
- I don't like have the need for a disableAutoloading method https://github.com/sonata-project/SonataPageBundle/blob/3.x/src/Model/Block.php#L55 which are not in the Interface. Dunno if we can avoid it.
- The Interface from BlockBundle ask for an array, so we should return this (or update the interface to iterable and restrict to Collection in th

[2022-07-11 08:18] Hanmac commented on #1417
hm the snapshotmanager uses sql instead of dql or query builder
i will see if i can make that better

[2022-07-11 08:22] VincentLanglet commented on #1417
On Sql/dql there is this issue https://github.com/sonata-project/SonataPageBundle/issues/1426 dunno if it's the same subject.

[2022-07-11 08:23] Hanmac commented on #1417
yeah partly, but also the enable snapshots query

[2022-07-11 09:16] eerison commented on #1417
I'm deprecating the baseCommand in my Pull request ;)

[2022-07-11 09:31] Hanmac commented on #1426
if it is okay i can look at the queries too

[2022-07-11 11:26] Hanmac commented on #1426
i didn't had time to debug yet, but does this look like a good replacement for the enable snapshots query?
[code]

for this query?

[code]

[2022-07-11 12:24] VincentLanglet commented on #1426
Seems ok to me. Pr is welcome :)

[2022-07-11 12:35] Hanmac commented on #1426
are such Query changes 3.x or 4.x stuff?

[2022-07-11 12:57] VincentLanglet commented on #1426
It's supposed to be BC so 3.x I would say

[2022-07-12 12:53] Hanmac commented on #1426
ugh the current test cases are making problems because i seem to can't to make the query builder execute with big chunk of meta data.

i probably need to make this into a KernelTestCase and let it run against test database

[2022-07-12 13:47] Hanmac commented on #1426
first try: https://github.com/sonata-project/SonataPageBundle/pull/1446

i need more testcases for this

[2022-07-13 07:51] eerison opened #1447 "Remove CoreBundle code."
## Remove core bundle code

The core bundle was deprecated a long time a go, should we remove the Code related with this bundle on `4.x` release?

Note: Core bundle just support until php 7.x and symfony 4.x, and then it will be never used in the next major, when we drop the `php 7.4` support

[2022-07-13 08:03] eerison commented on #1417
Ok I checked again the `4.x` branch and I can see only `6 direct deprecation` that is a impediment to support Symfony 5 and sonata 4

[2022-07-13 08:09] VincentLanglet commented on #1417
The first two will need something like this on SonataAdmin 4 https://github.com/sonata-project/SonataAdminBundle/pull/7867

[2022-07-13 08:19] Hanmac commented on #1417
the Connection thing is part of the Query rework I'm trying to do, i just need to write better testcases

https://github.com/sonata-project/SonataPageBundle/pull/1446

[2022-07-13 08:38] Hanmac commented on #1417
1x in BlockContextManagerTest::testGetWithValidData from Sonata\PageBundle\Tests\Block

1x in ContainerBlockServiceTest::testExecute from Sonata\PageBundle\Tests\Block

what to do with these two? the blockbundle ones can't be extended anymore. Are the page bundle ones really needed?

otherwise i will think about something

[2022-07-13 08:53] VincentLanglet commented on #1417
For the second class,
- the first method we're doing the same thing than in BlockBundle
- the second method we're just overriding the 'SonataBlockBundle' value.
But since the method is/are public we can use decoration/injection instead of extension

For the first class, the simpler solution I see is to provide an AbstractBlockContextManager in BlockBundle with everything final except `protected co

[2022-07-13 08:57] Hanmac commented on #1417
yeah i was thinking about decoration too

also PageBundle still points to 3.x Block Bundle and not 4.x, but that might be work for another PR

[2022-07-13 08:59] VincentLanglet commented on #1417
Two solutions:
- Doing the PR on BlockBundle 3.x, doing a release, and solving the deprecation
- Doing the PR on BlockBundle 4.x, doing a release and solving the issue in the same time we bump to blockBundle 4.

If it's not too much work, I prefer the second solution, this avoid a release on an old branch.

[2022-07-13 11:37] VincentLanglet commented on #1417
Seems like there is https://github.com/sonata-project/SonataPageBundle/pull/1448 for the block deprecations.
Help on the review is appreciated @Hanmac :)

[2022-07-13 19:19] #1447 closed, assigned to nobody

[2022-07-14 21:07] jordisala1991 commented on #1417
What about:

[code]

Can you try with that? @Hanmac

[2022-07-14 21:27] eerison opened #1453 "after create a new snapshot, it goes for page edit, and should back to the list"
after create a new snapshot, it goes for page edit, and should back to the list

[2022-07-14 21:36] eerison commented on #1420
It will be solved after this PR #1460 be merged

[2022-07-14 22:40] eerison opened #1454 "Support multi site using symfony runtime"
I'm creating this issue to check if it's necessary or not to use symfony runtime for multi site

In symfony 5.3 was introduced a new runtime, and the current implementation for [multi site](https://docs.sonata-project.org/projects/SonataPageBundle/en/3.x/reference/multisite/)  changes the front controller. Probably to keep this functionality working in the next major we need to implement a runtime

[2022-07-15 05:37] Hanmac commented on #1417
i didn't tried yet, but it doesn't work because calling getBaseRoutePattern would cache the result and then setting baseRoutePattern wouldn't have any effect

[2022-07-15 08:36] eerison opened #1458 "Remove Mustache generator"
I was checking the code that was not coveraged by test and I saw that, there is this [Mustache](https://github.com/sonata-project/SonataPageBundle/blob/3.x/src/Generator/Mustache.php) class is not used anywhere,  it's not mentioned in the documentation and in case it's related with [mustache.php](https://github.com/bobthecow/mustache.php) I do not see an active maintenance into the project anymore

[2022-07-15 13:54] #1458 closed, assigned to nobody

[2022-07-15 21:10] #1415 closed, assigned to nobody

[2022-07-15 21:11] jordisala1991 commented on #1415
This can be closed, the remaining cleanup does not belong to the usage of SonataNotificationBundle.

[2022-07-15 21:32] jordisala1991 commented on #1417
I just tried, it cant be done without the Pr opened by @VincentLanglet . So this deprecation will be only fixed on 4.x

[2022-07-16 17:36] mesiarm commented on #1453
Maybe it could be simplified - add another button in edit page to update and create snapshot with one click.

[2022-07-16 19:25] eerison commented on #1453
In dev environment it already happen, but if we do this in prod, no make sense maintain the snapshot

[2022-07-16 19:27] eerison commented on #1453
And IMO we should keep the snapshot feature as it's!

[2022-07-17 08:18] eerison opened #1465 "Check which command are necessary"
When I was working in this PR: #1460 , I realized that some commands maybe are not used because there is possible problems, But should be good understand the reason to have those commands and improve the code and coverage with tests.

Commands that must be checked

- #1473 [MigrateBlockNameSettingCommand](https://github.com/sonata-project/SonataPageBundle/blob/4.x/src/Command/MigrateBlockNameSetti

[2022-07-17 08:32] jordisala1991 commented on #1465
The migrate to commands maybe need to be removed. The Json one was to migrate a column from the old json type from sonata to json from doctrine (or something like that).

I removed that one from SonataMediaBundle. (we need to ensure the column types are correct)

[2022-07-17 08:35] eerison commented on #1465
Nice thanks for the update :)

[2022-07-17 08:37] jordisala1991 commented on #1465
Going to the initial pr that introduces the command might help too.

[2022-07-17 09:33] eerison commented on #1420
It was solved on #1460

[2022-07-17 09:33] #1420 closed, assigned to nobody

[2022-07-17 09:47] eerison opened #1466 "[4.x] Remove code with NEXT_MAJOR comment"
To release the next major (4.x) we must Remove the code the contain the comment with `NEXT_MAJOR`

[2022-07-17 09:49] eerison commented on #1466
Is it fine to create this issue, to remember to remove the old code related with 4.x branch? Or do you think it isn't necessary?

Cc @VincentLanglet and @jordisala1991

[2022-07-17 09:50] VincentLanglet commented on #1466
It's a general rule we have when doing next major.
Also, we might remove all the next major, close the issue, and then deprecate a new things.

So im not sure about the interest of this issue

[2022-07-17 10:01] eerison commented on #1466
The idea is just make sure that all NEXT_MAJOR will be removed, but if it's a general rule, then it's fine, this issue is not necessary:)

[2022-07-17 10:01] #1466 closed, assigned to nobody

[2022-07-17 10:34] haivala commented on #1453
I would say that snapshots should be able to be timed in prod so that when time comes another content would be shown to users that are not logged in.

I have used them like this: edit content -> make publication -> edit content again and make new snapshot -> then edit times of the snapshots in question.

[2022-07-17 10:54] eerison commented on #1453
Hey @haivala

Maybe the issue's description is not really clear, but the snapshot behavior shouldn't be changed here.

It's just for change the redirect after create the snapshot on admin, because for now it's redirecting to page update, but it should return to snapshot list.

[2022-07-17 11:43] eerison commented on #1453
But if you want to elaborate an issue explaining better your proposal and open a PR, it should be good 😊

[2022-07-17 11:55] mesiarm commented on #1453
I agree, timing should be kept, but add another way to do same with fewer clicks. Button in edit page could have split dropdown, which opens small dialog with calendar and submit button. Or default action to publish now.

[2022-07-18 09:01] eerison commented on #1417
I will work on those two deprecations

1x in BaseBlockAdminTest::testSettingAsEditedOnPreBatchDeleteAction from Sonata\PageBundle\Tests\Admin

1x in BaseBlockAdminTest::testSettingAsEditedOnPreBatchDeleteAction from Sonata\PageBundle\Tests\Admin

[2022-07-18 09:03] eerison commented on #1454
~this ticket is blocked by: #1417~

[2022-07-18 09:04] eerison commented on #1417
tried what? I don't get it!

[2022-07-18 10:27] haivala commented on #1453
I really haven't thought how the timed snapshots could or should be achieved better (Like in the admin UI) but at the current state it is possible but needs little bit of hassle. I just wanted to open a discussion about the snapshots and let you know how timed snapshots can be used now. This is just a part of the UI where I imagined this functionality should be added.

I'm on a vacation now but af

[2022-07-18 11:32] VincentLanglet commented on #1417
You currently cannot solve the deprecations, we need to finish and release https://github.com/sonata-project/SonataAdminBundle/pull/7867. And this will only be solve in 4.x.

The issue is that you cannot override
[code]

[2022-07-18 11:38] eerison commented on #1417
Yeah it's the issue, and when this PR pass, should I be able to override `getBaseRoutePattern`?

Edit 1: and your PR will fix all those deprecations that are missing?

[2022-07-18 12:12] Hanmac commented on #1417
this will be fixed by #1448

[2022-07-18 12:30] VincentLanglet commented on #1417
You'll be able to override generateBaseRoutePattern. But only in the same PR than the one which bump the SonataAdmin dependency. So it's all or nothing.

[2022-07-18 16:19] jordisala1991 commented on #1291
Should be fixed on 4.x: https://github.com/sonata-project/SonataPageBundle/pull/1452

[2022-07-18 16:19] #1291 closed

[2022-07-18 16:35] VincentLanglet commented on #1426
Now https://github.com/sonata-project/SonataPageBundle/pull/1446 is merged, can we close this issue @eerison ?

[2022-07-18 16:45] eerison commented on #1426
yes we can :) 🥳

[2022-07-18 16:45] #1426 closed, assigned to nobody

[2022-07-18 18:23] Hanmac commented on #1417
i got this from the 4.x branch:

    47x in Issue1134Test::testLabelInShowAction from Sonata\PageBundle\Tests\Functional\Ticket

[2022-07-19 08:53] eerison commented on #1465
Ok I was checking the commands and those migrations, and
- [MigrateBlockNameSettingCommand](https://github.com/sonata-project/SonataPageBundle/blob/4.x/src/Command/MigrateBlockNameSettingCommand.php) was added in this PR: #112, the current code from 3.x branch just works if use `code` instead of `name` in settings

- [MigrateToJsonTypeCommand](https://github.com/sonata-project/SonataPageBundle/blo

[2022-07-19 12:05] eerison commented on #1442
@VincentLanglet I was wondering if this [SonataPageBundle/src/Model/SnapshotPageProxy.php](https://github.com/sonata-project/SonataPageBundle/blob/9343568991c81a787e41dd3a02079227b7d2d7d9/src/Model/SnapshotPageProxy.php#L109-L115) is really necessary, do you know what is the advantage to use this proxy?

I guess the main idea is for who wants to implement something outside of SonataPage and wants

[2022-07-19 12:12] VincentLanglet commented on #1442
I have absolutely no idea since I dont use this bundle.

Do you want to try a POC of all the code which could be removed ?

[2022-07-19 12:16] eerison commented on #1442
what is POC? 😄

anyway let me try to undestand the issues that you found, maybe it can be a start.

I didn't find `Foo[]`, where do is it? into any tests?

https://github.com/sonata-project/SonataPageBundle/blob/3.x/src/Entity/BaseBlock.php#L33
and we can find a method to disable the lazy loading here: https://github.com/sonata-project/SonataPageBundle/blob/3.x/src/Model/Block.php#L55
which are ca

[2022-07-19 12:22] VincentLanglet commented on #1442
Proof of Concept.
You can open a PR on 4.x with all the code this would allow to remove (even without fixing tests) (and try this branch on your project). This would be easier to discuss about it ; and if we decide that we can remove this code, it just require to fix the tests and do a PR to deprecate this code on 3.x.

I wrote Foo for "any", it's sometimes BlockInterface, sometimes PageBlockInter

[2022-07-19 12:31] eerison commented on #1442
Yeah I imagined that would be a problem to bump phpstan, I saw this here #1460

![Screenshot 2022-07-19 at 14 30 51](https://user-images.githubusercontent.com/6358755/179750816-1f373056-924e-4591-b891-75123ce689ce.png)

[2022-07-19 19:45] mesiarm opened #1474 "host_with_path with dynamic page."
I want create sites for diferent locales (example.com/page, example.com/en/page) so I am using host_with_path multisite option. But dynamic page (example.com/project/{slug}) stopped working and when visiting example.com/project/example it redirects back to example.com. When I added dynamic page to ignore_uri_patterns, it works, but blocks in global page doesn´t work.

[2022-07-19 20:56] mesiarm commented on #1474
When I try debug method matchRequest in Sonata\PageBundle\Site\BaseSiteSelector `$site->getRelativePath()` returns `"/"` `sprintf('@^(%s)(/.*|$)@', $site->getRelativePath())` returns `"@^(/)(/.*|$)@"`, and `$requestPathInfo` contains `"/project/example/"`. Preg_match doesn´t match anything. Is regex correct?

[code]

[2022-07-20 04:38] mesiarm commented on #1410
What is missing to Symfony 5 and 6 support?

[2022-07-20 07:01] eerison commented on #1410
Hi @mesiarm we're trying to keep the issues listed in this ticket #1416 and [4.0 milestone](https://github.com/sonata-project/SonataPageBundle/milestone/1) , our main priority is support `Symfony 5` and `sonata 4` first.

there you can see the tickets that are missing, But we are more or less stuck in this ticket: #1417

really soon we hope to finish this ticket, and we can start the others, But u

[2022-07-20 07:15] eerison commented on #1474
Hey @mesiarm I use multi site in my project too, but for dynamically routes, I create an action in a controller (a normal symfony's action) to manager this route!
But I guess it's not the best approach, later I found that is possible to use `Hybrid` or `Dynamic` pages, look here: https://docs.sonata-project.org/projects/SonataPageBundle/en/3.x/reference/introduction/#a-page

But there isn't too mu

[2022-07-20 07:15] eerison commented on #1474
have you tried to use `Hybrid` or `Dynamic` routes?

[2022-07-20 07:54] eerison opened #1477 "Datagrid is still used"
The datagrid bundle was removed on `4.x` branch, But still have code using things from there, is it sill necessary?

should be good test it and see if we can remove or provide other solution

just search for `Sonata\DatagridBundle` and you will find

for example: https://github.com/sonata-project/SonataPageBundle/blob/4.x/src/Entity/SiteManager.php#L16

[2022-07-20 08:15] VincentLanglet commented on #1477
You're linking to
[code]

Are you sure you looked at the 4.x branch ?

[2022-07-20 08:24] mesiarm commented on #1474
I created App Project Detail page with /project/{slug} page and then created ProjectController with detail action and route setting:

[code]

[2022-07-20 08:31] mesiarm opened #1478 "CMF Routing Configuration is poorly documented"
https://docs.sonata-project.org/projects/SonataPageBundle/en/3.x/reference/installation/#cmf-routing-configuration

offers cmf_routing or router_auto_register, but doesn´t state, what is difference between them and when use which one.

[2022-07-20 08:39] haivala commented on #1474
Just to mention that I have done something like this: https://github.com/sonata-project/SonataPageBundle/issues/1368

[2022-07-20 08:43] VincentLanglet commented on #1478
@eerison @haivala Do you know something about this ?

PR with docs are always welcomed

[2022-07-20 08:43] eerison commented on #1474
Hi @haivala thanks for share your issue here :)

But definitely we need more documentation about this, should be really good if someone that used this can provide some doc, unfortunately I didn't test this functionality yet.

But @mesiarm if you want to test this solution and add some doc, it will be really good :)

[2022-07-20 08:46] eerison commented on #1478
well I do not have any idea about this :/

[2022-07-20 08:49] eerison commented on #1477
I guess I misunderstand something between branch `3.x` and `4.x`, sorry my bad

[2022-07-20 08:49] #1477 closed, assigned to nobody

[2022-07-20 08:53] #1465 closed, assigned to nobody

[2022-07-20 09:24] haivala commented on #1478
Never used the cmf_routing but I guess it has something to do with the old ability to edit blocks in front end and this would generate api routes for it

[2022-07-20 15:48] eerison commented on #1442
Hey @VincentLanglet is it missing something in this issue?

[2022-07-20 15:54] VincentLanglet commented on #1442
I will close this since it will be solved when bumping the phpstan levels anyway and I already done https://github.com/sonata-project/SonataBlockBundle/pull/1087 (i just need a release)

[2022-07-20 15:54] #1442 closed, assigned to nobody

[2022-07-21 08:54] eerison opened #1481 "Remove target_id from page and snapshot in case it's not used."
## Remove target_id from page and snapshot

in this PR: https://github.com/sonata-project/SonataPageBundle/pull/1471#discussion_r926304297 we realised that "maybe", target_id is not used, and to try to keep the code simple, we should see where it's used and remove in case it's not really necessary.

[2022-07-21 19:47] VincentLanglet commented on #1048
I don't consider as an issue the fact to have a `getId()` method in our interface.
- We have this in lot of sonata projects: https://github.com/sonata-project/SonataMediaBundle/blob/4.x/src/Model/GalleryInterface.php#L25-L28 or https://github.com/sonata-project/SonataBlockBundle/blob/4.x/src/Model/BlockInterface.php#L27-L30
- We need an identifier to run a command on a specific page/site https://g

[2022-07-21 19:47] #1048 closed

[2022-07-21 19:50] VincentLanglet commented on #775
Solved in 4.x

[2022-07-21 19:50] #775 closed

[2022-07-22 08:29] eerison commented on #1417
I guess it's just missing to add  sonata admin 4 to solve this deprecation

1x in BaseBlockAdminTest::testSettingAsEditedOnPreBatchDeleteAction from Sonata\PageBundle\Tests\Admin

[2022-07-22 08:32] VincentLanglet commented on #1417
It requires a SonataAdmin release first.

[2022-07-22 11:34] #1481 closed, assigned to nobody

[2022-07-24 08:10] jordisala1991 commented on #1177
I will close this issue since there is a lot of work to simply make this work with current versions of everything. If someone wants to work on MongoDB implementation is welcome, but I won't do it myself.

Closing.

[2022-07-24 08:10] #1177 closed

[2022-07-24 08:21] VincentLanglet commented on #1417
Will be done with https://github.com/sonata-project/SonataPageBundle/pull/1485 so we can be close this

[2022-07-24 08:21] #1417 closed, assigned to nobody

[2022-07-24 16:57] mesiarm commented on #1474
https://github.com/sonata-project/SonataPageBundle/issues/752 - simmilar issue. Dynamic page should be definitely better documented, how to use it, maybe someone, who used this functionality in his/her projects could provide more information. I will try to look at source code to understand it better.

[2022-07-25 06:09] jordisala1991 commented on #1416
The Symfony Runtime is not mandatory to enable support for Symfony 5.4 and 6.0. IMO it should stay at its own issue (and will be solved too for 4.0)

[2022-07-25 06:37] eerison commented on #1416
Hmmm I updated one project from 4.4 to 5.4 and it force me to use runtime, do you have any application running without symfony runtime?

[2022-07-25 07:23] eerison commented on #1416
Yeah I got what do you mean!

[2022-07-25 10:10] VincentLanglet commented on #1416
I'll close this one in favor of the only missing check which is https://github.com/sonata-project/SonataPageBundle/issues/1410

[2022-07-25 10:10] #1416 closed, assigned to nobody

[2022-07-25 10:11] VincentLanglet commented on #1410
This will be close by https://github.com/sonata-project/SonataPageBundle/pull/1491

[2022-07-25 10:36] eerison opened #1492 "Testing 3.x branch"
## I'm creating this issue just to note the results before release 3.27 release

[2022-07-25 10:36] eerison commented on #1492
well the first update of 3.x was smoothly, But in this one I got too much conflicts between dependencies :/

[2022-07-25 13:32] jordisala1991 commented on #1492
Can you show what kind of dependency problems you got?

[2022-07-25 15:20] eerison commented on #1492
[code]

then I try to req the `doctrine/doctrine-bundle ^2.5` and I get those errors

[code]

and then `composer req doctrine/doctrine-bundle:^2.5 sonata-project/doctrine-orm-admin-bundle:^3.0 -W`

[code]

[2022-07-25 15:45] VincentLanglet commented on #1492
Before starting to bump SonataPageBundle you'll need to bump doctrine.

try
[code]

[2022-07-25 16:45] eerison commented on #1492
well it's not "just" bump 😄 , it starts to touch in others dependencies and so on, well as I said without touch in doctrine dependencies it was easy to update, when you force me to bump, I need to change more things from my side, But I guess it's not a really problem, because the people need to do this now or in `4.x`, I guess we could do this only in 4.x, But it will be more work to let this work

[2022-07-25 16:47] eerison commented on #1492
But I guess I'm almost there (I hope 😄 )

it's my current blocks

[code]

[2022-07-25 17:11] jordisala1991 commented on #1492
What version do you have of doctrine/persistence?

[2022-07-26 07:19] eerison commented on #1492
1.3.8

[2022-07-26 07:23] jordisala1991 commented on #1492
You need at least ^2.1

[2022-07-26 07:24] jordisala1991 commented on #1492
Good thing about those updates is you can do them before updating SonataPageBundle. When you have them all in place, then you can update SonataPageBundle and be kind of ready for 4.0

[2022-07-26 07:31] eerison commented on #1492
exactly, I can identify many depends that are not necessary or that should be updated already.

[2022-07-26 07:47] eerison commented on #1492
Finally I could use 3.x ❤️ , now I can test it :)

[2022-07-26 08:58] eerison commented on #1492
well I could install the `3.x`, But I got others issues related with translation :'(, I can not test it for the project that I'm working on, it need to be updated first we were stuck by php `7.2`, and it wasn't updated yet, I was trying to update this in a different branch (using php 7.4, But there are a lot of things to do, I fix one thing and appear other shit), what I can do is test in other sm

[2022-07-26 09:40] VincentLanglet commented on #1492
Oh, good luck with the update. Be aware 7.4 is soon EOL and previous version are already ^^

If it doesn't take too much time on your side it would be great.

[2022-07-26 09:51] eerison commented on #1492
Hey @VincentLanglet

what I tested

- [x] Create snapshot from the admin ui
- [x] Create snapshot from command
- [x] Cleanup snapshot from command (and it works with **postgresql**, I tried it before and it wasn't working, and after @Hanmac changes it works ❤️ )
- [x] update blocks

and averything looks good, do you have anything else in mind?

@VincentLanglet @jordisala1991 @Hanmac

[2022-07-26 10:01] #1410 closed, assigned to nobody

[2022-07-26 10:52] eerison opened #1495 "Release 4.0"
I'm using this branch to test the upgrade from 3.x branch to 4.x

# Those issues need to be solved before release 4.0 version

CSS / Javascript:

Other:
- https://github.com/symfony/recipes-contrib/pull/1440 update recipe
- [x] https://github.com/sonata-project/SonataBlockBundle/pull/1124 Menu block is returning an internal server error: https://github.com/sonata-project/SonataPageBundle/issues/14

[2022-07-26 10:54] eerison commented on #1495
### Updated Sonata admin 4

- Issue setPosition #1496

[code]

[2022-07-26 11:11] eerison opened #1496 "Check why setPosition is set as null"
I got this on branch `4.x`

[code]

Stack trace

[code]

But all my pages there are position value

<img width="539" alt="Screenshot 2022-07-26 at 13 10 09" src="https://user-images.githubusercontent.com/6358755/180992717-0dd283aa-8bb7-464a-8200-fb989c371279.png">

[2022-07-26 11:37] Hanmac commented on #1496
@eerison i might look into it, do you have a testcase for this to repoduce?

[2022-07-26 11:45] eerison commented on #1496
Hey @Hanmac I just updated from 3.x to 4.x using sonata 4, and it crash my page, if you test it in some project you can see this issue!

[2022-07-26 11:56] Hanmac commented on #1496
hm curious, you should probably check the content json data from your snapshots
there is where the null is coming from
but i don't know how it got there

[2022-07-26 12:36] eerison commented on #1496
Hey @Hanmac  I guess you are right, it's related with snapshot content, the position of container is `null`
[code]

in this case position id should be `?int` ?

[2022-07-26 12:38] Hanmac commented on #1496
i don't know about BlockBundle to understand what the container is doing there and if the null position is valid there

if it does, then it needs to be fixed in BlockBundle

[2022-07-26 12:41] eerison commented on #1496
the container block is like the main container

for example:

[code]

I don't know if it was clear, but it's more or less the `block` to keep others `blocks` into like sections.

[2022-07-26 12:46] eerison commented on #1496
@jordisala1991  BlockBundle requires position as integer

But how do you handle this for `container block`?

[2022-07-26 13:02] eerison commented on #1496
I guess the problem not related with position only!

I have others blocks that there isn't `name`

[code]

and I got the same issue
[code]

[2022-07-26 13:06] jordisala1991 commented on #1496
Looks like the Transformer.php could be changed to not assign null properties?

[2022-07-26 13:07] Hanmac commented on #1496
i think thats an hotfix for now

i checked BlockBundle code, the property says it can be null, the getter can return null values, but the setter can't set null values for some reason?

should that be fixed in BlockBundle too?

[2022-07-26 13:08] eerison commented on #1496
the container block is used in sonata page only?

[2022-07-26 13:19] VincentLanglet commented on #1496
The getter can return `null` if no value was set.
For instance if you call `(new Block())->getName()`.
But I assume the setter are not nullable, because this field were maybe supposed to be non-nullable in database.

I don't know if it makes sens to have a block without a name, a type or a position...

Where come from your data @eerison ?

The issue is that changing the param typehint will be a BC

[2022-07-26 13:42] #1492 closed, assigned to nobody

[2022-07-26 13:57] jordisala1991 commented on #698
I think there are no more inline scripts here.

[2022-07-26 13:58] #698 closed

[2022-07-26 14:43] eerison commented on #1496
- IMO all blocks should have name too
- position, I'm not sure because it's container block is no a block that can be updated in the admin, it's more or less a fake block, it's just to group others blocks.

when we create snapshot, it generates this content with the json

<img width="1052" alt="Screenshot 2022-07-26 at 16 34 28" src="https://user-images.githubusercontent.com/6358755/181035069-1511

[2022-07-26 14:51] eerison commented on #1496
those blocks are added here

<img width="1792" alt="Screenshot 2022-07-26 at 16 47 08" src="https://user-images.githubusercontent.com/6358755/181038407-adb19cb1-7f72-44f9-9548-e057d1f8522d.png">

and it's the default blocks into the sonata page, probably we need to fix them to require `name`, But some of them I would say that could be removed maybe.

<img width="1552" alt="Screenshot 2022-07-26 at

[2022-07-26 15:01] eerison opened #1497 "Breadcrumbs are not appearing into the pages"
In 4.x branch the homepage looks strange.

it's the page for 3.x branch
<img width="1425" alt="Screenshot 2022-07-26 at 16 46 10" src="https://user-images.githubusercontent.com/6358755/181040596-d5a3c2ff-a82f-455f-aaf5-ab908d6b1bd9.png">

it's the same page for 4.x branch

<img width="1149" alt="Screenshot 2022-07-26 at 16 58 28" src="https://user-images.githubusercontent.com/6358755/181040661-4e9

[2022-07-26 15:06] eerison opened #1498 "Action "compose" could not be found in access mapping."
The compose page is not working

Steps:

- use the branch 3.x create the page and add some blocks
- switch to 4.x branch and try to access the compose page for example:`http://localhost:8001/admin/app/sonatapagepage/652/compose`

you should get an internal server error:

[code]

Stack trace

[code]

[2022-07-26 15:09] eerison commented on #1495
well the 4.x branch is unusable, if you just navigate  into the admin you will get some internal server error!

[2022-07-26 15:09] eerison commented on #1495
do you think make sense I create more bug issues @VincentLanglet?

[2022-07-26 15:10] VincentLanglet commented on #1495
Havind all the issues in the same issue might be enough

[2022-07-26 15:27] VincentLanglet commented on #1498
This property
https://github.com/sonata-project/SonataPageBundle/blob/4.x/src/Admin/PageAdmin.php#L51
must be moved into this method
https://github.com/sonata-project/SonataAdminBundle/blob/4.x/src/Admin/AbstractAdmin.php#L2166

Same should be done for others admins.

Can one of you make the PR @eerison @Hanmac ?

[2022-07-26 15:28] VincentLanglet commented on #1495
For
[code]
it's the same issue than https://github.com/sonata-project/SonataPageBundle/issues/1498

I proposed a solution.

[2022-07-26 15:30] eerison commented on #1495
NIce ❤️

[2022-07-26 15:30] Hanmac commented on #1498
i assume as MR for 4.x ?

[2022-07-26 15:31] eerison commented on #1498
yes, I guess all PR should be for 4.x now 👀

[2022-07-26 15:39] VincentLanglet commented on #1495
For
[code]
I assume the translations exists either
https://github.com/sonata-project/SonataPageBundle/blob/3.x/src/Resources/translations/SonataPageBundle.en.xliff#L133-L144
or
https://github.com/sonata-project/SonataPageBundle/blob/3.x/src/Resources/translations/SonataPageBundle.en.xliff#L225-L236

But SonataAdmin changed the way he generated the translation keys.
In 3.x `foo.bar` group were usin

[2022-07-26 18:48] #1498 closed, assigned to nobody

[2022-07-26 19:30] jordisala1991 commented on #1496
Can you check with https://github.com/sonata-project/SonataPageBundle/pull/1501 @eerison ?

[2022-07-26 20:39] VincentLanglet commented on #1495
For create_snapshot, it's https://github.com/sonata-project/SonataPageBundle/pull/1502 IMHO

[2022-07-27 06:46] eerison commented on #1495
I added a new issue in dashboard

[2022-07-27 10:13] Amin-Hosseini commented on #1495
Hey, I will work on missing translations

[2022-07-27 14:09] eerison commented on #1495
@VincentLanglet have you tried to add this in the pipelines: https://symfony.com/doc/current/translation/debug.html to get the missing translations?

[2022-07-27 14:27] VincentLanglet commented on #1495
It would miss all the translation key generated dynamically if I understand correctly

[2022-07-27 14:33] eerison commented on #1495
true :(

[2022-07-27 21:19] mesiarm commented on #1474
"@^(/)(/.*|$)@" regex in matchRequest in Sonata\PageBundle\Site\BaseSiteSelector causes / as default site relative path is not supported.

[2022-07-28 03:49] eerison opened #1503 "Proposal to change transformer for symfony serializer"
The idea of this proposal is keep the code simple and using more Symfony features.

The idea of [Transformer](https://github.com/sonata-project/SonataPageBundle/blob/3.x/src/Entity/Transformer.php) is convert the object to json or the other way round, But IMO It can be handled "easily" for symfony serializer componente

[2022-07-28 06:29] eerison commented on #1497
I'm working on this ticket!

[2022-07-28 07:59] VincentLanglet commented on #1503
Do you plan to try a PR ?

[2022-07-28 08:04] Hanmac commented on #1503
sounds good, do you want to try it?
how exactly does doctrine `type="json"` work there? you probably don't need to serialize the object yourself, but just need the normalizer part into an array, so doctrine can encode it into json, right?

[2022-07-28 08:18] eerison commented on #1503
Yep, if we agree I can provide a PR!

the idea is: first coverage the class, to make sure that we not forget anything, Definitely we need this before touch in Transformer, almost no test: https://app.codecov.io/gh/sonata-project/SonataPageBundle/blob/4.x/src/Entity/Transformer.php

Well I can try it, But if you want to do, I'm fine with this too, I can check others things that are necessary for 4.

[2022-07-28 09:06] Hanmac commented on #1503
if really needed, i saw https://symfony.com/doc/4.4/components/serializer.html#built-in-normalizers
especially [JsonSerializableNormalizer](https://github.com/symfony/symfony/blob/4.4/src/Symfony/Component/Serializer/Normalizer/JsonSerializableNormalizer.php)

it might help us to normalize the Block with the Child Blocks?

EDIT: but it doesn't support denormalize  :(

[2022-07-28 09:16] eerison commented on #1503
Well I use this to parse object -> json and json -> object, and it works quite well

something like this: https://symfony.com/doc/4.4/components/serializer.html#deserializing-in-an-existing-object

[2022-07-28 09:27] Hanmac commented on #1503
you don't want to deserialize but to just denormalize, and i don't know if that option exist there too

EDIT: i stand corrected, it exist for https://github.com/symfony/symfony/blob/4.4/src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php too

[2022-07-28 11:18] eerison commented on #1503
it's enough, isn't it?

![Screenshot 2022-07-28 at 13 16 58](https://user-images.githubusercontent.com/6358755/181492876-a7e2259b-dec6-4e45-b27b-7534683d55ff.png)

[2022-07-28 11:22] Hanmac commented on #1503
my thought was that you don't need the serializer when you just normalizing/denormalizing

[2022-07-28 11:26] eerison commented on #1503
well But I need to convert from
`object to array` -> save into the database
and `array to object` -> to use into the code

or am i missing something?

[2022-07-28 11:27] eerison commented on #1503
or do you mean the `Selializer` class?

[2022-07-28 11:38] Hanmac commented on #1503
i meant the serializer class, but we still might use it for the nice functions

is what the normalizer/denormalizer does

[2022-07-28 11:56] eerison commented on #1503
well maybe you could provider a simple example how we should use this!

[2022-07-28 12:05] Hanmac commented on #1503
there is an example of just using normalizer with denormalize https://symfony.com/doc/4.4/components/serializer.html#camelcase-to-snake-case

[2022-07-28 12:25] Hanmac commented on #1503
also should we use make own Serializer instance or should we use SerializerInterface and let Symfony define it?
https://symfony.com/doc/current/serializer.html#using-the-serializer-service

[2022-07-28 12:54] eerison commented on #1503
hmmm good question!

I would use SymfonyInterface and pass the instace that we configurate! why?

because we use `snake_case` but the guy configure `CamelCase` in  his config, then it'll convert to `propertyName` instead of `property_name`

[2022-07-28 12:55] eerison commented on #1503
hmmm nice, maybe we could depends of `ObjectNormalizerInterface` and not the `SerializerInterface`.

[2022-07-28 13:03] Hanmac commented on #1503
the DenormalizerInterface probably doesn't exist as service like the SerializerInterface does

[2022-07-28 13:06] eerison commented on #1503
well I would choose the option to have this `injected` in the service instead of use the `new ObjectNormalizer` into the class/code!

[2022-07-28 15:26] Hanmac commented on #1503
@eerison if you can try to make an MR for the coverage, then i can later try to make an MR for the serializer (if you didn't already)

[2022-07-28 15:28] eerison commented on #1503
well I'm still working on #1497

[2022-08-01 06:22] VincentLanglet commented on #1495
For this error, seems like the BlockManager is done in 4.x is not working
https://github.com/sonata-project/SonataPageBundle/blob/4.x/src/Block/BlockContextManager.php#L19
because the extra settings are not configured https://github.com/sonata-project/SonataBlockBundle/blob/375b168da31545bf3c386fd25a4b483411ac97c5/src/Block/BlockContextManager.php#L163

Is there a way to avoid removing the `final`

[2022-08-01 06:23] jordisala1991 commented on #1495
Saw the same error and tried to fix, but didn't found a solution without touching BlockBundle. I only tried for half an hour, so I might be wrong.

[2022-08-01 06:30] mesiarm commented on #1474
So if default site relative path cannot be / - is it bug or is it intended?

[2022-08-01 06:32] VincentLanglet commented on #1495
Seems ok to me to touch the BlockBundle, but I would have prefer to avoid removing the final keyword.

FormType has things like a `getParent()` method, I dunno if same could be done here.
We could also provide an abstract class with everything implemented except the `configureSettings` method ; but seems like some settings need to be configured for every BlockManager, like `template`. So there is

[2022-08-01 06:40] eerison commented on #1474
Can't it be "/" or "/-"? If you mean it can't be "/-" then I would say it's intend, Because this slug/url is more or less wrong?🤔

Or is it missing the locale like "/de-en"?

[2022-08-01 06:46] mesiarm commented on #1474
I mean only / (without dash). I wanted to use / for default site and /en for English site.

[2022-08-01 06:52] eerison commented on #1474
Well if you can't use with / and /en ,I would say it's a bug 🤔, what do you think?

I use this functionality but with multisite

[2022-08-01 06:55] mesiarm commented on #1474
Just to clarify: /en works, /anything works, but / doesn´t. Regex is sprintf('@^(%s)(/.*|$)@', $site->getRelativePath())

[2022-08-01 06:57] eerison commented on #1474
I guess you can create a site with relativePath = null

[2022-08-01 07:05] mesiarm commented on #1474
I think it wouldn´t match mentioned regex which is in method matchRequest in Sonata\PageBundle\Site\BaseSiteSelector

[2022-08-01 07:09] Hanmac commented on #1503
@VincentLanglet assuming i want to write testcases for the Transformer functions:
Using the Transformer as real objects and the manager as mocks, do i need to mock the Page/Block/Snapshot entities too?
Or can i use the `tests/App/Entity` ones to check if the Snapshot has the same values as the Page/Block?

[2022-08-01 07:41] mesiarm commented on #1474
correction - I tried it with null and it works (probably due `$request->setPathInfo($pathInfo ?: '/');` in Sonata\PageBundle\Site\HostPathSiteSelector) . It should be corrected in documentation https://docs.sonata-project.org/projects/SonataPageBundle/en/3.x/reference/getting_started/ because there is stated default site /, but in CreateSiteCommand it is converted to empty string (`$site->setRelat

[2022-08-01 08:03] eerison commented on #1474
But the question is, is it the correct way 👀 , I don't know why the doc says that the default value is `/`, it's strange :/

[2022-08-01 08:05] mesiarm commented on #1474
Yes, any falsy value in relativePath works, / doesn´t work.

[2022-08-01 08:06] eerison commented on #1503
I guess you can mock the DB, you just need to check if after convert from `object` to `array` (and the other way round 😄 ), it's as expected!

Maybe you can create one `db test`, just to make sure that passing array to content, it'll be saved as `json`

[2022-08-01 08:10] eerison commented on #1474
well in this case we should provide a fix for this! like doesn't accept "/" in relativePath we could use `symfony assert` for this

[2022-08-01 08:12] Hanmac commented on #1503
for the (first) transformer test, i don't need the DB, i just mock the manager, i was just thinking about using the fake Entity objects so i don't need to mock `getContent` and `setContent` stuff and all the other getter/setter when the Transformer is coping from Page to Snapshot and vice versa.

[2022-08-01 08:12] eerison commented on #1474
Yeah I checked now and in the project that I'm working it's `null`

[2022-08-01 08:15] eerison commented on #1503
well if you can cover the functionality with a fake entity I'm fine with this :)

[2022-08-01 12:17] VincentLanglet commented on #1503
i dunno this bundle to give good advice without a PR to rely on.
You can start with the simpler solution you have in mind

[2022-08-03 06:05] mesiarm opened #1514 "Dynamic page doesn´t pass controller variables"
[code]

I created detail action and visited /project/test (got error No page instance available for the url, run the sonata:page:update-core-routes and sonata:page:create-snapshots commands - it was expected)

Then I created page with route_name app_project_detail and created template with {{ project.title }} - I´ve got Variable "project" does not exist.
Available variables (obtained running dump(

[2022-08-03 07:56] eerison commented on #1503
Hey @Hanmac I don't know if it helps somehow, But into the block bundle there is a definition for serializer, maybe it help somehow: https://github.com/sonata-project/SonataBlockBundle/blob/4.x/src/Resources/config/serializer/Model.BaseBlock.xml

or maybe we should define a new group there for fake/group block(container block), I guess make sense it be defined in block-bundle because we are handle

[2022-08-03 08:06] Hanmac commented on #1503
i will check this out later, first i do am MR for Transformer testcases

[2022-08-03 09:16] Hanmac commented on #1503
there was https://github.com/sonata-project/SonataPageBundle/blob/3.x/src/Resources/config/serializer/Model.Block.xml
and https://github.com/sonata-project/SonataPageBundle/blob/3.x/src/Resources/config/serializer/Model.Page.xml
i might recycle for my possible change

[2022-08-03 09:49] jordisala1991 commented on #1503
AFAIK , those are for the JMS serializer, used on 3.x for the API (already removed on 4.x). Not sure if that works for symfony/serializer.

[2022-08-03 12:50] Hanmac commented on #1503
@eerison you use this Snapshots right? can you explain to me what the SnapshotPageProxy is for?

and also if it would be okay to change the format of the Json Content? For example, the https://github.com/symfony/symfony/blob/6.1/src/Symfony/Component/Serializer/Normalizer/DateTimeNormalizer.php may use a different format for the DateTime values. or should i try to keep the U format?

[2022-08-03 13:23] eerison commented on #1503
Hey @Hanmac I use snapshot because it's a base feature from sonata page bundle, But I do not know why exactly we need the SnapshotProxy, But as it's a proxy I assume that the main idea behind this is intercept the snapshot behaviour, But it's just my felling!

and about the DatetimeNormalizer, which field are datetime? create and updated at? maybe it's not used ?! But if we don't know if it's used

[2022-08-04 06:50] eerison commented on #1495
I was checking with @Amin-Hosseini this issue related with `BlockManager`, and I guess it's possible make this work without remove the final class, Because if I got correct we are more or less decorating this [BlockContextManager.php#L16](https://github.com/sonata-project/SonataBlockBundle/blob/375b168da31545bf3c386fd25a4b483411ac97c5/src/Block/BlockContextManager.php#L163)

@Amin-Hosseini please

[2022-08-04 07:20] eerison commented on #1497
Hey @jordisala1991 do you know where this `breadcrumb` is rendered?

<img width="1662" alt="Screenshot 2022-08-04 at 09 18 32" src="https://user-images.githubusercontent.com/6358755/182787770-e0052478-259b-4651-8087-a00ff785451b.png">

I saw that it's handled when call this `{{ sonata_block_render_event('breadcrumb', { 'context': 'page', 'current_uri': app.request.requestUri }) }}`, but do you kno

[2022-08-04 08:42] haivala commented on #1497
KNPMenuBundle?

[2022-08-04 09:17] eerison commented on #1497
Yeah I guess it's build by `KNPMenuBundle`, But I wan't to know where in the sonata code is checking those values to pass to menu build!

[2022-08-04 13:36] Amin-Hosseini commented on #1495
I've checked #1483 changes and as we don't have `OptionsResolver` in `src/Block/BlockContextManager.php` anymore, error happens on `$optionsResolver->resolve($settings);` -> BlockBundle : [BlockContextManager.php#L289](https://github.com/sonata-project/SonataBlockBundle/blob/45b7547dd6c00b60b76ae63ad08f2c399c67b350/src/Block/BlockContextManager.php#L289)

I tried to update `get` function on `Block

[2022-08-04 13:48] eerison commented on #1495
- But does `resolve` still exist?
- is it working as before? have you tested it and does it work?
- ins't it possible to override this in the page bundle?

[2022-08-04 14:18] VincentLanglet commented on #1495
I might misunderstand the solution but the issue I see is that we cannot validate the values/type of the extra settings ; it would be so nice to be able to configure extra settings in the PageBundle BlockContextManager.
That's why I had in mind to provide an abstract class with extensions point.

[2022-08-04 14:21] eerison commented on #1495
Well should be good we think in some solution using interfaces, usually those abstract class going to increase 😞

[2022-08-05 07:16] mesiarm commented on #1514
It is something in ResponseListener:onCoreResponse. Anyone understands what decorate = true means? It is also here: https://docs.sonata-project.org/projects/SonataPageBundle/en/3.x/reference/advanced_configuration/ but without explanation

[2022-08-05 08:55] haivala commented on #1514
decorating is when controller is rendering template it adds base template to it even if the template does not extend it. Never understood how it should be used.

[2022-08-05 09:10] haivala commented on #1514
Actually that config option is just adding decoration automatically to pages that are created with the update:core-routes command.

[2022-08-06 05:40] Hanmac commented on #1503
I made a first try of the Serializer change: #1522

you guys need to check if that counts as BC or not

i kept the Datetime format and the order of the elements, so the Testdata didn't need to change

[2022-08-06 08:02] VincentLanglet commented on #1495
It's an issue with your code IMHO @eerison

[2022-08-06 08:06] eerison commented on #1495
Really? I don't remember to change something inf Block::page

[2022-08-06 08:08] VincentLanglet commented on #1495
Since we're adding typehint, you'll need to add some too.
Composer is asking you to change `$page` to `?PageInterface $page` in your entity

[2022-08-06 08:11] eerison commented on #1495
Ohhh do you mean the code from my project?

[2022-08-06 08:13] eerison commented on #1495
But do you mean the code from sonata page bundle or from my project?

Note: I don't have any custom class extending from sonata bundles

[2022-08-06 08:14] eerison commented on #1495
Ohh ok I guess I got it, I'll check that ;)

[2022-08-06 08:17] jordisala1991 commented on #1495
It is strange that you have declared page property on your entity, Can you show that piece of code?

[2022-08-06 08:22] eerison commented on #1495
I'm not in the computer atm, but my entities were generated in 3.x code, and I'm switching between 3.x and 4.x branch

[2022-08-06 08:23] VincentLanglet commented on #1495
Can you also try https://github.com/sonata-project/SonataPageBundle/pull/1524 @eerison ?
Or maybe explaining why we need a custom BlockContextManager.

I found no occurence of the `page_id` or `manager` keys.

[2022-08-06 08:29] eerison commented on #1495
@VincentLanglet I remember that I found a condition from this manager, if it's sanpshot Proxy return snapshot if not return page

[2022-08-06 08:30] eerison commented on #1495
@VincentLanglet I remember that I found a condition from this manager, if it's sanpshot Proxy return snapshot if not return page

[2022-08-06 08:30] eerison commented on #1495
@VincentLanglet I remember that I found a condition from this manager, if it's sanpshot Proxy return snapshot if not return page

[2022-08-06 20:19] mesiarm commented on #1514
[code]

This is code in ResponseListener:onCoreResponse. Condition doesn´t match comment and I don´t know if code or comment is correct. But in my case dynamic page with decorate = true, fulfills condition and the next decorating code causes controller variables are missing. If I set decorate = false, my dynamic page works. It doesn´t apply to other pages with decorate=true, only to hybrid and dyn

[2022-08-08 09:28] eerison commented on #1495
Hey @jordisala1991

as I can see the ` slugify_service: sonata.page.slugify.cocur` option will be deprecated for 3.x, But since it'll be deprecated, is there any way the 3.x code work without it? because I still need to keep this configuration there, other wise it raise an exception!

[2022-08-08 09:43] eerison commented on #1495
Hey @jordisala1991 and @VincentLanglet this error was definetly related with my code, in 3.x it was generated like this

[code]

and when I changed to 4.x, the IDE was saying this

<img width="926" alt="Screenshot 2022-08-08 at 11 37 55" src="https://user-images.githubusercontent.com/6358755/183388264-64d1db2c-46e6-4f8a-afd0-83d78a3ea7fb.png">

But after change to

[code]

it works 🥳 !

and we wer

[2022-08-08 09:45] jordisala1991 commented on #1495
You should not need to declare that property.

For the upgrade notes, we have or will have one that mentions typehints and return types on all the project.

But again, this specific error is because you have a property that you dont need to declare IMO.

[2022-08-08 09:48] eerison commented on #1495
this property was generate from 3.x branch when I installed the project 👀

[2022-08-08 09:50] eerison commented on #1495
it is my class/entity

[code]

then I guess any of those methods should be in my code, don't you?

[2022-08-08 09:57] haivala commented on #1495
At least I don't have those. Only the getId.

[2022-08-08 10:00] eerison commented on #1495
yeah that's true I guess I got this from other project, I checked in the docs and it says to put only `$id`

https://docs.sonata-project.org/projects/SonataPageBundle/en/3.x/reference/installation/#doctrine-orm-configuration

my bad!

[2022-08-08 16:22] eerison commented on #1495
just to inform that I found a new issue in compose page, I added it in the description

<img width="821" alt="Screenshot 2022-08-08 at 18 21 37" src="https://user-images.githubusercontent.com/6358755/183465640-859cf5ac-ea94-4b45-90fb-f44d4b5e0519.png">

[2022-08-09 11:58] jordisala1991 commented on #1496
This one should fix this problem: https://github.com/sonata-project/SonataPageBundle/pull/1532

[2022-08-09 13:44] #1496 closed, assigned to nobody

[2022-08-09 16:23] jordisala1991 commented on #1495
I will work in the sonata_pool issue. I know how to fix it.

[2022-08-09 16:25] jordisala1991 commented on #1495
Afaik, the deprecation should only trigger if you have customized the slugger service, if you leave the default value it should be fine.

[2022-08-10 06:59] jordisala1991 commented on #1495
This one should fix the sonata_pool issue: https://github.com/sonata-project/SonataPageBundle/pull/1533

[2022-08-10 07:26] eerison commented on #1495
I tried to remove a block list from my contact page and I got this error

<img width="960" alt="Screenshot 2022-08-10 at 09 24 27" src="https://user-images.githubusercontent.com/6358755/183840443-e5216378-616c-41d2-9437-6f70eecd8396.png">

logs error:

[code]

<details><summary>Trace error</summary>
<p>

[code]
</p>
</details>

Note 1: It was a block created in 3.x branch

[2022-08-10 07:27] VincentLanglet commented on #1495
The stack trace might help ; we would need the original exception and not the ModelManager one

[2022-08-10 07:31] eerison commented on #1495
@Amin-Hosseini I can see the is missing a snapshot translation for this page: http://localhost:8001/admin/app/sonatapagepage/652/sonatapagesnapshot/1486/edit

It's the label that is missing: `form.group_snapshot`

[2022-08-10 07:34] eerison commented on #1495
Done, the trace error is there :)

[2022-08-10 07:37] eerison commented on #1495
I executed the `bin/console sonata:page:cleanup-snapshots` and I got this error

[code]

any idea @Hanmac ?

[2022-08-10 07:58] eerison commented on #1495
Need to fix the bootstrap layout for page blocks

<img width="925" alt="Screenshot 2022-08-10 at 09 55 03" src="https://user-images.githubusercontent.com/6358755/183847350-91761bf3-3b68-4974-a506-de23ad3cdc82.png">

<img width="1016" alt="Screenshot 2022-08-10 at 10 08 01" src="https://user-images.githubusercontent.com/6358755/183849541-c7fb0caa-97e7-4747-b108-97b74d037d1f.png">

[2022-08-10 08:13] eerison commented on #1495
After this PR pass: #1524, I would say 4.x will be able to test and see if it's possible to find more issues!

[2022-08-10 08:15] VincentLanglet commented on #1495
You can already play with my branch if you want to look for more issue ; the merge is not needed

[2022-08-10 08:21] Hanmac commented on #1495
Looks like it needs a check in case the list it shouldn't delete is empty  for what ever reason 🤔

[2022-08-10 08:22] eerison commented on #1495
Yeah I know, But to test others issues we depend this one, otherwise everyone that want to reproduce the issues related with pages need to use your branch!

[2022-08-10 08:56] Hanmac opened #1535 "Cleanup Query fails if there is no Snapshot to keep"
I executed the `bin/console sonata:page:cleanup-snapshots` and I got this error

[code]

any idea @Hanmac ?

_Originally posted by @eerison in https://github.com/sonata-project/SonataPageBundle/issues/1495#issuecomment-1210281812_

[2022-08-10 14:29] Amin-Hosseini commented on #1495
I found this issue when I try **Create a page snapshot** and Select the **Page** and click on the **Create a publication**

``` Argument 1 passed to Sonata\PageBundle\Service\CreateSnapshotService::createByPage() must implement interface Sonata\PageBundle\Model\PageInterface, null given, called in /var/www/sonata/vendor/sonata-project/page-bundle/src/Controller/SnapshotAdminController.php on line

[2022-08-10 14:43] Amin-Hosseini commented on #1495
I have also this issue on **Shared Blocks list** page and **Add new**
```The parameter "sonata.page.admin.shared_block.class" must be defined.```

<details><summary>Stack Trace</summary>
<p>

[code]

</p>
</details>

[2022-08-10 15:37] #1535 closed, assigned to nobody

[2022-08-10 15:47] jordisala1991 commented on #1495
This one is already fixed on one of my PRs, not sure if already got merged or not, probably not.

[2022-08-11 07:24] eerison commented on #1495
<img width="1467" alt="Screenshot 2022-08-11 at 09 22 07" src="https://user-images.githubusercontent.com/6358755/184083590-13fd9ac0-b023-4a74-af1b-999c195bd57d.png">
The composer list is not working, when I click on the menu from the left site should appear the block list

[2022-08-11 07:29] jordisala1991 commented on #1495
Yes, probably all the Javascript is broken. Have to refactor it to use Webpack and stuff. I'm delaying working on it, since it will be a hard PR. 😓

[2022-08-11 07:34] eerison commented on #1495
@Amin-Hosseini and @haivala in case you are testing this branch (4.x), please add the issues here if you find some :)

[2022-08-11 07:35] eerison commented on #1495
I'll check why the snapshots are not working!

[2022-08-11 08:55] eerison opened #1549 "Implements TransactionalManagerInterface and Use in SnapshotManagerInterface"
## Implements TransactionalManagerInterface and Use in SnapshotManagerInterface

This idea was raised in this PR: #1548

[2022-08-11 08:57] eerison commented on #1549
Ok we have the first problem here, sonata-doctrine-extension requires php 8

https://github.com/sonata-project/sonata-doctrine-extensions/blob/2.x/composer.json

But in my option we should release 4.0 with support for `7.4` what do you think?

[2022-08-11 08:57] eerison commented on #1549
@VincentLanglet

[2022-08-11 09:07] eerison commented on #1495
~Hey @Amin-Hosseini  can you just confirm if it's working or not please!~

Ok I checked, this page is not working, I guess it was introduced in 4.x branch, I need to check this page why it's not working

[2022-08-11 09:10] VincentLanglet commented on #1549
It's not a problem. We can still introduce the feature for now.
And we'll use it on PageBundle when the support for php 7.4/doctrine-extensions 2 will be drop.

[2022-08-11 09:13] eerison commented on #1549
Ok I got it ;)

[2022-08-11 09:48] mesiarm commented on #1514
Anyone who understands when decoration should be used and which of the pair: comment and code is correct?

[code]

[2022-08-11 10:28] jordisala1991 commented on #1549
IMO this issue should be moved to doctrine extensions

[2022-08-11 11:00] jordisala1991 commented on #1495
I am going for that one.

[2022-08-12 23:21] #1453 closed, assigned to nobody

[2022-08-12 23:21] jordisala1991 commented on #1453
On 4.x this is fixed.

[2022-08-12 23:26] jordisala1991 commented on #1495
A lot of blocks were deprecated on 2.x for SonataSeoBundle. I would recommend that if you need them you copy / upgrade that code and maintain your own version.

Sonata cant maintain integrations with facebook, twitter, pinterest, etc...

I am going to mark that as completed, since they were deprecated.

[2022-08-13 06:26] eerison commented on #1495
Maybe we should add a upgrade note for this?

My point with this is: upgrade to 4.x without crash things unexpected.

I don't use this, I'm just thinking in case someone else uses.

But I guess a upgrade note is fine

[2022-08-15 08:55] jordisala1991 commented on #1367
This one does not seem easily solvable TBH.

When a route is i18n, internally symfony generates N routes, one for each locale. And the routeCollection exposes all of them, the update-route-routes command picks them all and tries to generate one page for each one. Up to this point we can discuss if we want that behavior or not, but it "works".

(There is a problem with the update-core-routes that d

[2022-08-15 09:26] VincentLanglet commented on #1367
I think all is said.

It's not a bug, it's a very complicated feature request to implement. So if nobody wants to work on it we can close this as "not planned".

[2022-08-16 13:26] eerison commented on #1495
<img width="1196" alt="Screenshot 2022-08-16 at 15 24 58" src="https://user-images.githubusercontent.com/6358755/184890799-e4388388-2957-4af8-9784-fea0289b19eb.png">
<img width="365" alt="Screenshot 2022-08-16 at 15 24 41" src="https://user-images.githubusercontent.com/6358755/184890805-5dc5ba6f-d4ad-4493-9919-c5216132d194.png">

well the layout is completely broken

[2022-08-16 16:12] jordisala1991 commented on #1495
Thats kind of expected, Can you show an screenshot of before (3.28) and after? Also are you using the new assets?

If you can do the screenshot with an editor it would be nice, there are an extra links that I would like to see how they look.

[2022-08-17 06:27] eerison commented on #1495
Why 3.x? It should be only into 4.x, isn't it?

an editor? I don't get it! do you mean with `element spec` (F12)?

What links? where? which page? 👀

Yes, I have run `bin/console assets:install`

[2022-08-17 06:49] jordisala1991 commented on #1495
No, it should be both. When you claim, the layout is completely broken, why do you say it? based on what? previous 3.x working version? or what, because I never used the bundle. I do not know what is wrong and what is right. For example: To me the styles or the frontend are not responsability of Sonata, yet here seems like we offer some styled by default so users can tests the pages without invest

[2022-08-17 06:58] eerison commented on #1495
Ohh Ok, now I got it 😃

[2022-08-17 07:45] Hanmac commented on #1495
isn't it possible to have the SonataPage Extension automatic add these two files into the config? there is this `extra_stylesheets` for something like this, right?

[2022-08-17 07:48] jordisala1991 commented on #1495
Don't know, maybe, but then if I want to provide my own JS, how do I do it?
More changes can always be included, but we need to think more cases than the default: I migrated from 3.x and didn't change the assets file.

[2022-08-17 07:51] eerison commented on #1495
What we could do is: require that the project uses webpack, and then put in the doc to add an entry into the `webpack.config.js`

example
[code]

Something like this? have you tried it before @jordisala1991? because if I remember correct we are building the assets and saving into the repository :/

I don't know if it's too much work?!

[2022-08-17 07:51] haivala commented on #1495
How I understand this is that `extra_stylesheets` should be used when you want to add some styles to the defaults and the `stylesheets` is for the defaults. I have never used the `extra` as the defaults are so old.

[2022-08-17 07:54] jordisala1991 commented on #1495
That forces the user to install webpack and compile its own assets. What if I just want to use Sonata with everything by default? to me that's not a great DX. IMHO I should be able to do both:

1. You want everything by default? ok, we provide a build of the assets by default that works.
2. You want to customise, add things, remove things, replace everything? ok, you can build you own assets and r

[2022-08-17 07:59] haivala commented on #1495
Do not require webpack!
just add the built css and js to repository and `javascripts:` and `stylesheets:` and when someone wants to build their own they just have to define `javascripts:` and `stylesheets:` as empty and use template to load webpack assets. This is what I'm doing now.

I was wrong: `extra_*` is only for the admin side of things like the composer javacripts.

[2022-08-17 08:08] haivala commented on #1495
What I think has to be done is make sure the blocks work with the same css and js that the admin is using and those are the defaults (bootsrap3). Then maybe provide documentation how to have different css and js in the admin and the frontend.

[2022-08-17 08:23] haivala commented on #1495
btw: this is the main reason I don't use the prebuildt blocks for the frontend as I find it easier to build my own than try to find the right config option to override the block template to match css classes and js. ( at least this is how I feel when I think about this. Maybe it has changed many times over the years or just have not worked)

[2022-08-17 08:51] haivala commented on #1495
default config should also add the `sonata-page.back.min.js` in `extra_javascripts` and the css to the `sonata_admin` node of the `assets`.

[2022-08-17 09:29] haivala commented on #1367
In my case the only real problem this raises is that I cannot give the user of the page admin easy way to change the page SEO attributes as the page cannot be found in the front controller even if I run the update core routes and manually delete the wrong language ones from the site. Of course block addition would be nice to have too.

Other way to solve this could be that as we define route witho

[2022-08-17 09:50] haivala commented on #1367
extra parameter perhaps? `sonata_page_site_id=1`?

[2022-08-17 10:03] haivala commented on #1367
This would be useful as I have also project that has 2 sites with different domains and one admin to control them and now I have to delete the routes manually from the other one after update-core-routes.

[2022-08-17 12:56] eerison commented on #1495
Hey @jordisala1991 it looks like this into 3.28.0

<img width="1472" alt="Screenshot 2022-08-17 at 14 55 18" src="https://user-images.githubusercontent.com/6358755/185138127-81896230-9b8d-488f-8998-4ac9d86c09d3.png">
<img width="1473" alt="Screenshot 2022-08-17 at 14 55 01" src="https://user-images.githubusercontent.com/6358755/185138164-176d5d46-a799-40c2-9dee-9019027c4482.png">

And not I didn't

[2022-08-17 13:11] eerison commented on #1495
I added this

[code]

But 4.x is still with layout broken

[2022-08-17 13:23] eerison commented on #1495
Hey @jordisala1991 I guess the problem is, it's not importing the bootstrap, when I added this into the headers

[code]

the layout was working as before 👀

[2022-08-17 14:35] jordisala1991 commented on #1495
Indeed , I removed bootstrap here, it made no sense to have it here because is already on the admin, but will think about it. Maybe I will ship another css file just to add bootstrap.

[2022-08-17 14:36] eerison commented on #1495
make sense it be separated ;)

[2022-08-22 09:00] #1407 closed, assigned to nobody

[2022-08-23 08:25] eerison commented on #1497
It was solved into #1564

[2022-08-23 08:25] #1497 closed, assigned to nobody

[2022-08-23 08:35] eerison commented on #1495
@jordisala1991 could you describe a bit how to make bootstrap works again for pages? or just post here some example please :)

[2022-08-23 08:54] eerison commented on #1495
Other question

is it too complicate add symfony turbo/ux into this bundle? if it's not complicated should we invest time debugging this [code](https://github.com/sonata-project/SonataPageBundle/blob/4.x/assets/js/composer.js) or try to use the symony turbo component?

[2022-08-23 09:10] VincentLanglet commented on #1495
It should first be used in SonataAdmin IMHO. Planned for 5.0.
Also, it's extra work. And PageBundle is already taking too much time.

[2022-08-23 09:11] eerison commented on #1495
Yeah make sense ;)

[2022-08-23 09:33] eerison commented on #1495
about this issue: https://github.com/sonata-project/SonataSeoBundle/issues/685

if it's happening only in Symfony 6.x maybe we could drop the support for 6.x and add later?

[2022-08-23 09:53] eerison commented on #1495
<img width="1486" alt="Screenshot 2022-08-23 at 11 52 36" src="https://user-images.githubusercontent.com/6358755/186128834-0a64909b-6e84-463f-8a03-2e1781355e05.png">

Ok this issue is related with compose page, I'll work on compose page issues!

[2022-08-23 10:11] jordisala1991 commented on #1495
Happens on all sf versions.

[2022-08-23 10:11] jordisala1991 commented on #1495
How did you get that error?

[2022-08-23 10:14] eerison commented on #1495
- Create blocks in 3.x release
- switch to 4.x
- go to compose page
- click in some compose section in the left side
- it'll do a sub request, and this sub request is returning this error!

any idea why?

[2022-08-23 10:20] jordisala1991 commented on #1495
Can you show the full stack trace?

[2022-08-23 10:30] eerison commented on #1495
[code]

[2022-08-24 06:04] eerison commented on #1495
Ok just to avoid 2 people working in the samething, FYI @jordisala1991 I'm working in this bug, But in case you think you can handle this faster then me, and you have time, just tell me to stop :)

[2022-08-24 06:44] jordisala1991 commented on #1495
These are the steps I would follow:

1. Install with npm the same version of bootstrap we have on adminBundle
2. Create a new frontend.css and frontend.js that only expose bootstrap
3. Add it on webpack config as new entry points
4. Add that to the page to see if it everything renders correctly
5. If not, change the html to fit how it looks on 3.x
6. Update docs , upgrade note or whatever to refle

[2022-08-24 06:45] jordisala1991 commented on #1495
I did take a minimal look at the problem. To me it seems related to missing blocks, but I am not somewhere near a computer and I will not be until next week, so I can only really solve easy things that can be edited on mobile devices :).

[2022-08-24 06:47] eerison opened #1573 "Make bootstrap works in 4.x branch"
As this bug need to make a bit more work, I would prefer to create a issue for this and handle it here!

those are the steps mentioned by @jordisala1991

https://github.com/sonata-project/SonataPageBundle/issues/1495#issuecomment-1225269266
[code]

others comments related with this issue:
- https://github.com/sonata-project/SonataPageBundle/issues/1495#issuecomment-1210303865

[2022-08-25 07:52] eerison commented on #1495
When I click on block link into the page's block list, it's going to show page, and it should go for edit page!
<img width="813" alt="Screenshot 2022-08-25 at 09 50 20" src="https://user-images.githubusercontent.com/6358755/186607295-e3662a60-7c4e-4e35-b1f6-f41d0f150061.png">

Show page is empty!
<img width="1790" alt="Screenshot 2022-08-25 at 09 49 22" src="https://user-images.githubusercontent.c

[2022-08-25 08:00] VincentLanglet commented on #1495
It's the normal behavior of Sonata 4
https://github.com/sonata-project/SonataAdminBundle/pull/7454

Why the show page are empty if they are accessible ?

I think we can override the default route directly on the field_description with something like
[code]

[2022-08-25 08:18] eerison commented on #1495
Yeah, we can do that :), I just want to register here the issue that I found, just for not forget!

[2022-08-25 09:03] jordisala1991 commented on #1495
If there are no show fields we can remove show route too.

[2022-08-25 09:24] eerison commented on #1495
I guess the show route is used in compose page, But we can check this!

[2022-08-25 10:22] jordisala1991 commented on #1495
I dont think so, compose page uses compose preview page to visualize a block

[2022-08-30 08:05] jordisala1991 commented on #1514
I am not sure about the issue, but the example you gave on your first message contains an i18n route, and that's not really supported on SonataPageBundle, can you check without i18n route? (Normal route, without different locale configuration)

[2022-08-30 08:22] eerison commented on #1495
Hey @jordisala1991 does make sense to add this issue into the list?

https://github.com/sonata-project/SonataSeoBundle/issues/685

[2022-08-30 08:23] jordisala1991 commented on #1495
You already added it right?

[2022-08-30 08:24] eerison commented on #1495
ohhh true 😅

[2022-08-31 09:11] eerison commented on #1495
Ok, block's name are not required on admin, But if I remember correctly we should make this mandatory, right @VincentLanglet ?

![Screenshot 2022-08-31 at 11 05 48](https://user-images.githubusercontent.com/6358755/187642845-a2dfac69-c569-4478-bf51-233cde762a64.png)

the question is: should we make this in 3.x or 4.x?
We need to remove the [nullable=true](https://github.com/sonata-project/SonataPa

[2022-08-31 09:12] VincentLanglet commented on #1495
dont remember why

[2022-08-31 09:17] eerison commented on #1495
it was related with transform when convert from json to object some blocks are without name, but Name is mandatory like `getName(): string`

[2022-08-31 09:46] jordisala1991 commented on #1495
Afaik the setName accepts only string but getName can return null.

[2022-08-31 10:04] eerison commented on #1495
hmmm strange, then it'll save the block name with empty string, should it be the best way?
I don't know, I'm just thinking! well But in theory it's not a block for 4.x

[2022-08-31 10:09] VincentLanglet commented on #1495
If the setter only accepts string, it pass `''` ?

I would say it's weird to have a block without name ; we might make it required.

[2022-08-31 10:19] eerison commented on #1495
yeah it was the point for the last discussion about it, It's not an impediment for 4.x But I agree that we should fix this before release 4.x

[2022-08-31 10:26] VincentLanglet commented on #1495
If it's not a bug, it can be done anytime.

What we must fix for 4.x is all the error you listed.

[2022-08-31 14:34] haivala commented on #1495
Testing the 4.x-dev, got an error:
[code]
Maybe the upgrade note should point out that really old Entity definition should be checked as it only needs the id now?

[2022-08-31 15:02] eerison commented on #1495
Do you mean the entity to have only `$id?`

[2022-08-31 15:11] VincentLanglet commented on #1495
What did you have as entity definition ?

[2022-08-31 15:30] haivala commented on #1495
I got this as an page and all the other ones were similar:
<details><summary>CLICK ME</summary>

[code]

</details>

[2022-08-31 15:38] VincentLanglet commented on #1495
Ok, so this is "just" a consequence to the fact we added typehint everywhere in our code.

We might add a note in https://github.com/sonata-project/SonataPageBundle/blob/4.x/UPGRADE-4.0.md#upgrade-from-3x-to-40 indeed

[2022-08-31 15:47] eerison commented on #1495
My entity was like this before, but you just need to have id there, I guess we just need to add a upgrade note saying how the entity should be, or saying to looking into the doc

[2022-08-31 15:49] haivala commented on #1495
Yeah copied them again from the docs

[2022-08-31 15:52] eerison commented on #1495
It could be handled by recipes, but I don't know how make this works 👀👀👀

[2022-08-31 15:59] VincentLanglet commented on #1495
The docs might need to be updated for 4.x. PR are welcomed

[2022-08-31 16:30] haivala commented on #1495
Do we need mention about the fact that now old custom Blocks need to implement EditableBlockService with the page composer?

[2022-08-31 17:06] haivala commented on #1495
How about this case?
I have block that can be configured to load Entity data:
<details><summary>CLICK ME</summary>

[code]

</details>

it gives me this error when I try to add it with the composer:
`Attempted to call an undefined method named "getNewFieldDescriptionInstance" of class "Sonata\DoctrineORMAdminBundle\Model\ModelManager".`

Any way to solve this?

[2022-08-31 19:16] jordisala1991 commented on #1495
Maybe you have to take a look at the blocks created here: https://github.com/sonata-project/SonataPageBundle/blob/4.x/src/Block/SharedBlockBlockService.php#L136

I think this one has an example of what you need.

[2022-09-01 09:29] haivala commented on #1495
@jordisala1991 Thank you! works like a charm!

[2022-09-01 09:49] eerison commented on #1495
we need to provide some doc about what you have made @haivala :'(

[2022-09-01 10:23] haivala commented on #1495
There is lots of docs we need.
- how to use dynamic page properly
- the new symfony 5 runtime?
- mention that page bundle dynamic pages does not work with symfony i8n routing ( where should this be added?)
- how to upgrade blocks for page bundle 4.0 composer (implement EditableBlockService, Upgrade notes?)
- remember to check Page Entities before? or after? upgrade to 4 ( Upgrade notes? )
- Exampl

[2022-09-01 10:56] eerison commented on #1495
Yeah I know we need more docs, But if we doesn't start to add docs when we discover new solutions, it will just accumulate more missing docs

[2022-09-01 11:19] haivala commented on #1495
Sure! but I had questions in my comment

[2022-09-01 11:35] VincentLanglet commented on #1495
This is mainly looking at deprecations and solving them BEFORE bumping the version.
getNewFieldDescriptionInstance was deprecating
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.x/src/Model/ModelManager.php#L200

And the upgrade note already explained what to use instead
https://github.com/sonata-project/SonataAdminBundle/blob/3.x/UPGRADE-3.x.md#upgrade-from-388-to-389

[2022-09-01 13:29] haivala commented on #1495
Does anybody else have problems with Media blocks or Formatter block? I get this message when trying to add them from the Block list:
`An error has occurred resolving the options of the form "Sonata\FormatterBundle\Form\Type\FormatterType": The option "event_dispatcher" does not exist. `
and `Admin "Sonata\MediaBundle\Admin\ORM\MediaAdmin" has no subject.`
And they don't show up in composer add bl

[2022-09-01 14:46] jordisala1991 commented on #1495
I guess the blocks for other bundles doesn't work since no one could try them because PageBundle was not ready. There is kind of hidden dependency (not really hidden, but well if there is not a test setup to test those blocks is hard to spot issues).

I think you should stick to try blocks defined here, on BlockBundle or on SeoBundle (we already know that breadcrumb is not working)

For other bund

[2022-09-01 14:49] eerison commented on #1495
it's working, ins't it?

[2022-09-01 16:53] jordisala1991 commented on #1495
We have an issue for that 😅

[2022-09-02 08:25] eerison commented on #1495
https://user-images.githubusercontent.com/6358755/188097135-05d3adf3-7651-4a5b-a22a-b228094d81f9.mov

there are 2 issues in compose page

1 - when the response return an error, any message are showed for FE
2 - when I'm adding the block any load button or badge is showed

[2022-09-02 10:40] eerison opened #1586 "Make page blocks works or remove if it is not used"
When I'm trying to use the page blocks, some of them are crashing the page

#### Blocks

- [x] Children page core
- [x] Breadcrumb
- [x] Shared blocks
<details><summary>Chieldren page core</summary>
<p>

[code]

</p>
</details>

<details><summary>Breadcrumb</summary>
<p>

Related issue: https://github.com/sonata-project/SonataSeoBundle/issues/685
[code]

</p>
</details>

<details><summary>Shared b

[2022-09-02 11:14] eerison commented on #1495
I guess after fix those issues listed above, it's ready to release 4.x 👀

[2022-09-02 11:23] Hanmac commented on #1495
@eerison you still need to test my Transformer stuff that needs to be done before 4.x release

[2022-09-02 11:28] eerison commented on #1495
I guess we decided to not merge before 4.x release, But yeah your transform PR need to be merged in 4.x otherwise will be merged only in 5.x, I guess make sense we release in 4.x, I'll give a new try today after this PR https://github.com/sonata-project/SonataPageBundle/pull/1583 pass, I want to see the page working as in 3.x

[2022-09-02 12:33] jordisala1991 commented on #1495
Yes, the symfony serializer, Imho wont go to 4.0.

[2022-09-02 12:36] jordisala1991 commented on #1495
Can you show the same interaction on 3.x, are you saying that on 3.x we had a loader and the block were validating and showing errors?

[2022-09-02 12:47] Hanmac commented on #1495
i don't think it is a good idea
the serializer stuff does work, it just need to be tested again with @eerison 's broken data

waiting for this for the over next mayor versions doesn't sould good to me, because what if the code gets broken again by changes between 4 and 5? Will it then again be called that it wouldn't go to 5.0?

[2022-09-02 12:52] jordisala1991 commented on #1495
Next major version wont take this long, we should focus on release 4.0 so we can continue the focus on 5.0, and that means leaving this one out of 4.0.

[2022-09-02 15:19] eerison commented on #1495
### Test in 3.x branch

https://user-images.githubusercontent.com/6358755/188181409-4442e137-eefe-4b6f-b638-a7f32779129b.mov

- the load works when I try to edit the block not when I'm creating
- the message errors show

### Test in 4.x branch

https://user-images.githubusercontent.com/6358755/188182933-b4f79cbe-3732-4f81-a72b-53bd928b09bf.mov

When I get ah error like 400, it doesn't show in the

[2022-09-02 18:44] jordisala1991 commented on #1495
Ok I detected also the bug while doing browser testing. I will fix it.

[2022-09-04 09:29] jordisala1991 commented on #1514
I have added test for hybrid and dynamic pages on 4.x and it works just fine in both cases.

In both cases when you have a route and you run the update core routes command, a page will be created. And the route will render that page, but in the "content" section it will output the rendered content of the original controller.

Closing for now, since it works but might lack some docs (not sure about

[2022-09-04 09:30] #1514 closed, assigned to nobody

[2022-09-04 09:37] jordisala1991 commented on #1478
Maybe we should point to the cmf router docs, but IMHO we shouldnt duplicate docs. Here we should just say what is the default config (recommended by us) and link to the bundle/component docs, so people can understand better about that code.

[2022-09-04 17:53] jordisala1991 commented on #1586
It would be nice to know how did you get that errors (for 1 and 3, the second one is in the process of being fixed), because they have some test that pass without problem.

[2022-09-04 19:17] eerison commented on #1586
I just tried to add those blocks in composer page, and the ajax response return those errors

[2022-09-05 10:07] eerison commented on #1495
I guess this error is related with transformer right?

[code]

I get this when I try to render my page, I'm not sure But I guess I generated those blocks in 3.x

Note: When I updated the block, it saved again and generate a new snapshot, after this the page back to work!

the snapshots generated on 3.x is not compatible with 4.x

[2022-09-05 10:09] eerison commented on #1495
<img width="1159" alt="Screenshot 2022-09-05 at 12 09 09" src="https://user-images.githubusercontent.com/6358755/188424895-8083f569-6fa3-4ef1-9ef7-cea9c957b8f6.png">
publication page is empty

http://localhost:8001/admin/app/sonatapagepage/1/sonatapagesnapshot/create

[2022-09-05 10:16] Hanmac commented on #1495
I would have fixed that, but you don't want to

[2022-09-06 05:54] #1573 closed, assigned to nobody

[2022-09-06 06:37] jordisala1991 commented on #1586
But you pass any special option to those block (or you miss yo add some required parameter)?

If you fill correctly the data, do they work?

[2022-09-06 06:40] eerison commented on #1586
I fill out all required parameters.

what do you mean the correctly data? fill all fields?

[2022-09-06 07:07] eerison commented on #1586
https://user-images.githubusercontent.com/6358755/188569002-891ca7a4-fa62-4c3e-9270-d6753a064776.mov

Hey @jordisala1991 does it help you with `Shared block`?

[2022-09-06 07:12] jordisala1991 commented on #1586
Yes, it helps. I see, we do not use the interaction with javascript on the tests for this specific use case, that's why I think we didn't spot the problem.

[2022-09-06 07:20] eerison commented on #1586
I see, in this case should we test the sub request directly?

[2022-09-06 07:21] jordisala1991 commented on #1586
not sure tbh, too many bugs, until I fix the ones I am working on, I can't work on more 😓

[2022-09-06 07:37] eerison commented on #1586
well I do not use any of those blocks 😄, But I guess the share block are the most important one!

should we invest time only in this one and if someone else use the others 2 blocks provide a PR?

[2022-09-06 07:48] eerison commented on #1586
Ok Just to inform you in 4.x branch children page core is not crashing anymore, It doesn't appear any error, but I can't see any effect in my page 😄

[2022-09-06 12:54] haivala commented on #1495
Found 2 bugs:
- In page list view page name default route should be edit not show. Same goes for the site name route. internal pages need this as they are not shown in the tree view.
- When I create site from nothing and run `update-core-routes` the `Internal Page : global` is not created. Shouldn't that be the case? It will be created when I first time use it in a template and load it on the fron

[2022-09-06 13:13] haivala commented on #1495
What If I want to?

[2022-09-06 14:18] haivala commented on #1495
Bug: When I create publication the start date is not automatically filled with current date time and the previous snapshot end date is not filled with new start date.

[2022-09-06 14:23] eerison commented on #1495
I saw this too, But when you back to snapshot lis it's created correctly, isn't it?

[2022-09-06 14:41] VincentLanglet commented on #1495
If you are able to start a PR with a failing test to reproduce the bugs, I would say it could help a lot because there is a lot of things to fix.

[2022-09-06 14:57] haivala commented on #1495
Snapshot is created yes but it is not complete if there is not the start and end times. newest always has only start time but not the end time.. I can add them manually but that is not how it should work.

[2022-09-06 21:38] haivala commented on #1495
Do you have clue where I can find good test that I could copy to do the snapshot date check?

[2022-09-07 06:41] jordisala1991 commented on #1495
https://github.com/sonata-project/SonataPageBundle/pull/1597 does it solve the issue? it should

Don't worry, I will do it.

[2022-09-07 06:50] jordisala1991 commented on #1495
Im trying both with the command and with the action from site admin, and both work as expected, where did you find the issue?

Edit, I think I saw it, it doesn't work from SnapshotAdmin. will see how to fix it.

Edit2: https://github.com/sonata-project/SonataPageBundle/pull/1598, does it fix your issue @haivala ?

[2022-09-07 09:34] eerison commented on #1495
@Hanmac do you remember why we still keep cache-bundle in dev dependencies for 3.x?

https://github.com/sonata-project/SonataPageBundle/blob/3.x/composer.json#L70

[2022-09-07 11:59] jordisala1991 commented on #1495
I think it is not worth changing it right now. on 4.0 it won't be there.

[2022-09-07 12:41] haivala commented on #1495
I did not test this through. I can create the block and the entity through newly created block and edit it and the entity while it is open but on block update the id is not saved the database and that means I cannot edit the block anymore as it does not find the entity and gives this error: `Sonata\DoctrineORMAdminBundle\Model\ModelManager::getNormalizedIdentifier(): Argument #1 ($model) must be o

[2022-09-07 12:44] haivala commented on #1495
Yes it did work!

[2022-09-07 13:14] jordisala1991 commented on #1586
It should show a list of children pages of the selected one, it does not work?

[2022-09-07 13:20] eerison commented on #1586
hmmmm I can test it :)

[2022-09-07 16:03] jordisala1991 commented on #1495
First one needs some work, we need to add buttons on the list, because we can't rely on the addIdentifier anymore, because by default is show , not edit (and also the user can change it) (Maybe it was a bad idea to make it default to show, but whatever).

Second one, on 3.x the global page is not generated automatically, so it is not a bug, but a new feature, and it won't go to 4.0, it can go to 4

[2022-09-07 16:07] jordisala1991 commented on #1495
Maybe we need to look a this a bit further 😓 yes.

[2022-09-08 07:15] eerison commented on #1495
Should I say this bug is related with #1586 , or is it a different one?

[2022-09-08 07:35] eerison commented on #1495
Just to point out, I started to check, why I can't select a sheared block in compose page #1586, But fell free to help somehow 😄

[2022-09-08 07:56] haivala commented on #1586
it is crashing if you select a page and update the block with `Unable to retrieve the page` in composer and in frontend

[2022-09-08 07:59] jordisala1991 commented on #1495
Is related, and here I started the fix, it works with children pages block service: #1599 , but I haven't applied to the sharedBlock service

@haivala , can you check if this solution works for you? instead of adding the pre persist and pre update methods, I am using a modelTransformer.

[2022-09-08 08:02] eerison commented on #1586
I'm comparing between 3.x and 4.x, I'll try to reproduce your bug
thanks for the info @haivala

[2022-09-08 08:04] haivala commented on #1495
New bug: Composer block from does not show help for the form, example:
`['example', TextType::class, ['help' => 'hi there']],`

[2022-09-08 08:05] haivala commented on #1495
testing..

[2022-09-08 08:06] eerison commented on #1495
I added this issue into the list

[2022-09-08 08:10] eerison commented on #1495
Hey @haivala But is it related with sonata page bundle? I guess this issue is related with admin bundle, I don't see anything to change related with this issue :/

[2022-09-08 08:16] haivala commented on #1495
Well maybe it is related to ImmutableArrayType as the helps don't show up in the block editor either

[2022-09-08 08:17] eerison commented on #1495
Ok, But this code is handled into admin bundle, right @jordisala1991

[2022-09-08 08:19] eerison commented on #1495
Hey @jordisala1991 just to make sure

- you aren't working in this issue, right?
- and do you have any idea what should be the problem for this? or is it completely dark for you?

Note: it's related with this issue: `Composer page is not showing errors`

[2022-09-08 08:33] eerison commented on #1495
Well I did the first try using symfony 5.4 with page bundle and it works quite nice 🥳

I'll test `multi site works with the current code!`

[2022-09-08 08:40] haivala commented on #1495
This works!

[2022-09-08 08:56] haivala opened #1601 "On block delete in page composer redirect to that page composer not to BlockAdmin list"
Now it redirects to BlockAdmin list that is not usable and not shown anywhere else.

Edit: This is problem with 3.x and 4.x.

1. you go to `/admin/app/sonatapagepage/1/compose`
2. select block to delete in the composer
3. delete it
4. you are redirected to `/admin/app/sonatapageblock/list?composer=1&filter[_page]=1&filter[_per_page]=25&filter[page][value]=1` not back to `/admin/app/sonatapagepage/

[2022-09-08 08:58] haivala opened #1602 "Introduce setting to hide Block List from Page Admin"
This forces users to use composer and they are not confused by the Block list

[2022-09-08 09:10] VincentLanglet commented on #1601
The current stable branch is 3.x. I assume you're talking about 4.x but it's not even clear in you one-line-issue.
The more it's described, it's even better with screenshot and url, the more it will be solved.

Also for 4.x "bugs", I recommend to report them in https://github.com/sonata-project/SonataPageBundle/issues/1495 and @eerison will add it into his list https://github.com/sonata-project/So

[2022-09-08 09:11] VincentLanglet commented on #1602
The current stable branch is 3.x. I assume you're talking about 4.x but it's not even clear in you one-line-issue.
The more it's described, it's even better with screenshot and url, the more it will be solved.

[2022-09-08 09:16] eerison commented on #1601
Exactly, for small issues I'm grouping them into #1495

But as @VincentLanglet says, try to describe better the issues, specially with screenshot or even better a small video with the reproduction (it's quickly and help a lot to undestand how you reproduce the issue)

[2022-09-08 09:18] haivala commented on #1601
This is problem with 3.x and 4.x.

1. you go to `/admin/app/sonatapagepage/1/compose`
2. select block to delete in the composer
3. delete it
4. you are redirected to `/admin/app/sonatapageblock/list?composer=1&filter[_page]=1&filter[_per_page]=25&filter[page][value]=1` not back to `/admin/app/sonatapagepage/1/compose`

[2022-09-08 09:20] haivala commented on #1601
As this is problem with both 3.x and 4.x I thought it would be better to have new issue about it and not require it in 4.x release.

[2022-09-08 09:21] VincentLanglet commented on #1601
I agree.
But I don't know a lot this bundle, it was hard to me to understand this.

This is better ; I added to the first message.

[2022-09-08 09:23] eerison commented on #1601
Well as I can see the problem is just the redirect, I agree that it need be fixed in 3.x but as it's not a critical issue, I would say that it has less priority then 4.x release.

[2022-09-08 09:24] haivala commented on #1602
As this is new feature request I thought it would be better to have new issue about it and not require it in 4.x release.

Basically to have setting `sonata_page.hide_block_list_admin` with boolean to hide Block list child admin from Page admin side menu .

This is would be nice to have not any way mandatory

[2022-09-08 09:25] VincentLanglet commented on #1601
Yeah. We try to fix the bug in 4.x that we introduced (and which were working in 3.x) first.
So a specific issue for this issue is meaningful ; it wasn't clear to me before in which situation we were.

[2022-09-08 09:31] haivala commented on #1602
![2022-09-08_122943-area](https://user-images.githubusercontent.com/3918267/189087786-de45422b-799c-4011-921d-c01e9934fe1b.png)
This is the side menu now, this setting would hide the Block list child admin

[2022-09-08 10:36] jordisala1991 commented on #1495
Yes, I am also working on that, but it is the most complex issue of all mentioned, there is a PR opened: https://github.com/sonata-project/SonataAdminBundle/pull/7922

But it is not complete, and it is only the first piece needed to solve this issue 😅 , on 3.x pagebundle is relying on a trick to show errors that no longer works on 4.x because we fixed it.

[2022-09-08 14:29] eerison commented on #1495
multi site works with symfony 4 and 5

[2022-09-08 14:30] eerison commented on #1454
It's working with symfony 4 and 5

then I guess it's fine for now, maybe we can provide some symfony runtime later!

[2022-09-08 14:30] #1454 closed, assigned to nobody

[2022-09-08 14:43] haivala commented on #1495
How does it work with symfony 5 runtime? I can imagine it will work with the `host` (as it is the default and does not need changes to index.php) but how does the others?
https://docs.sonata-project.org/projects/SonataPageBundle/en/3.x/reference/multisite/#multisite

[2022-09-08 14:56] eerison commented on #1495
well I just used the same configuration as I used in symfony 4 and it works, I didn't need to configure symfony runtime!

[2022-09-08 14:57] eerison commented on #1495
![Screenshot 2022-09-08 at 16 56 39](https://user-images.githubusercontent.com/6358755/189155785-d5bcb41c-8658-4548-959a-c3e189d39ac2.png)

[2022-09-08 15:56] jordisala1991 commented on #1495
Runtime is not mandatory, not even on Symfony 6. You can run perfectly fine your apps without it.

[2022-09-08 16:33] haivala commented on #1495
ok! I somehow thought it would come mandatory in some point and I have started using it already with symfony 5.4.

[2022-09-08 16:35] haivala commented on #1495
Bug: in SiteAdmin site name link goes to show route not the edit route.

[2022-09-08 16:39] VincentLanglet commented on #1495
That's not a bug. That's the new behavior of SonataAdmin. By default link redirect to show and not edit page.
But if the show page is not configured, a fix like https://github.com/sonata-project/SonataPageBundle/pull/1574 can be done.

[2022-09-08 16:40] jordisala1991 commented on #1495
Its the same as the other one you reported. it is not a bug but a feature...

What we need to do is add action buttons for edit

[2022-09-08 16:57] #1586 closed, assigned to nobody

[2022-09-08 17:06] haivala commented on #1495
I'm not sure if this a bug as I have never used this before but i used `sonata:page:clone-site` and after reloaded the SiteAdmin list but the new site did not show up.

[2022-09-08 17:08] haivala commented on #1495
True. We need action buttons and move create snapshots with them as there is no button for edit.

Now that I think about it this I would remove the show route as it is not needed.

[2022-09-08 17:29] haivala commented on #1495
Question: Do I need to use `host_with_path` multisite config to be able to use the `relative path` site option? if that is the case the relative path should be hidden if it cannot be used?

For example; sites would be:
- example.com (with locale en and relative path null)
- example.com/de (with locale de and relative path /de)
with the same content but different language

It is not explained very

[2022-09-08 17:47] haivala commented on #1495
Bug: PageAdmin SideMenu `View page` button does not work when using multisite `host` and Site relative path `/`. The url in the button link is `//` for a page with url `/`

[2022-09-08 19:26] eerison commented on #1495
If it's a default behavior for sonata admin, then i don't see problem to use it like this

[2022-09-08 19:29] eerison commented on #1495
Relative path should de null, it's the same behavior in 3.x

[2022-09-08 19:32] haivala commented on #1495
Problem is that the edit button cannot be found anywhere

[2022-09-08 19:33] eerison commented on #1495
Please let's concentrate in things that are working in 3.x and not in 4.x

Bugs that already exist in 3.x should has low priority I would say, but if it's important for you, fell free to provide a PR. The main priority for 4.x is make it works with symfony 5 and sonata 4 with the same functionality that already exist

[2022-09-08 19:34] eerison commented on #1495
It's an bug then

[2022-09-08 19:35] eerison commented on #1495
I guess there is a button in the top (actions)

[2022-09-08 19:48] eerison commented on #1586
Nice Job @jordisala1991 🥳

[2022-09-09 06:36] haivala commented on #1495
But that is not there when you are in list page

[2022-09-09 06:47] eerison commented on #1495
Hi @haivala

Yeah it's there

<img width="1785" alt="Screenshot 2022-09-09 at 08 43 36" src="https://user-images.githubusercontent.com/6358755/189287990-7f7c0c93-9f34-4049-8dd5-401440e0380c.png">

But I agree that it's weird, You gonna blank page!
But as we have a way to navigate from show to edit page, I'm adding this as optimal, But I guess it can be handled easy in admin class 😄

[2022-09-09 06:49] haivala commented on #1495
that is not the list page. url says it's the show page

[2022-09-09 06:50] eerison commented on #1495
do you mean to add this into the list pages?

[2022-09-09 06:51] eerison commented on #1495
<img width="1792" alt="Screenshot 2022-09-09 at 08 51 09" src="https://user-images.githubusercontent.com/6358755/189289061-5e7953fd-d30f-451c-be31-355d72678672.png">
do you mean here?

[2022-09-09 07:18] VincentLanglet commented on #1495
If the show page is empty, please provide a Pr like the #1574

[2022-09-09 07:21] haivala opened #1604 "Support the new Symfony 5.3 Runtime with multisite host_with_path"
## Feature Request for 4.x

Runtime: https://symfony.com/doc/current/components/runtime.html
Multisite: https://docs.sonata-project.org/projects/SonataPageBundle/en/4.x/reference/multisite/

from https://symfony.com/blog/new-in-symfony-5-3-runtime-component

Current implementation needs changes to index.php to be able to use host_with_path multisite and I'm guessing we would need page runtime now

[2022-09-09 07:23] eerison commented on #1495
I added an item in the list to check those navigations link, I guess it can be handled in one PR!

[2022-09-09 08:22] eerison commented on #1604
Yeah after release 4.0, it would be a good feature for multi sites ❤️

[2022-09-09 09:38] jordisala1991 commented on #1495
Everything related to navigation between admins and show pages should be fixed after the last pr merged.

[2022-09-09 09:39] jordisala1991 commented on #1495
I would say this is not need to 4.x, it was happening on 3.x right? IF it was happening, please open a new issue, otherwise we might need to add it to the list.

[2022-09-09 09:39] jordisala1991 commented on #1495
There are already test for that and I didn't saw them failing, can you confirm if it works or no?

[2022-09-09 16:26] haivala commented on #1495
Command itself does not give any errors but the site cannot be found from the database after. is it persisted?

[2022-09-09 16:32] haivala commented on #1495
![2022-09-09_192227-area](https://user-images.githubusercontent.com/3918267/189398079-0d6cab95-2502-4741-b7ce-2051227ec73b.png)
These are the Blocks that can be found from the composer add block dialogue. Should there be more?
I have Formatter-, Page- and MediaBundle installed

[2022-09-10 08:51] haivala commented on #1495
how about adding this before 4.x? https://github.com/sonata-project/SonataPageBundle/pull/1050

[2022-09-10 08:54] eerison commented on #1495
It's not a quickly implementation, and release 4.0 it's taking too much time :(

But I guess it can be released still into the 4.x Branch, as it's not a BC then I don't see any reason to wait until 5.x.

[2022-09-12 07:20] jordisala1991 commented on #1474
Does #1606 fix this issue?

[2022-09-12 07:20] jordisala1991 commented on #502
Does #1607 fix this issue?

[2022-09-12 07:21] jordisala1991 commented on #1367
I changed the subject to be more descriptive

[2022-09-12 09:14] haivala commented on #1367
Should I do another issue about the dynamic page assignment to a site?

[2022-09-12 09:17] eerison opened #1609 "Keep the blocks into the page rendering even if some blocks does not exist"
the current code in 3.x and 4.x is crashing the whole page when the block doesn't exist, I faced this issue few months ago, and It should be fixed here.

My idea is, check if the block class still exist, if not log into the logs and jump for the next block to be rendered.

### ACs

- [x] If the block doesn't exist, the page that contain this block must be rendering without this block
- [x] when tr

[2022-09-12 09:19] eerison commented on #1495
Ok This issue `when try to delete a block that doesn't exist` , it's in 3.x as well

should be good have this fixed in 4.x But as it's a old issue I would say that it's not an impediment for release 4.0, correct @jordisala1991 and @VincentLanglet

It's t related with this issue: #1609

[2022-09-12 09:24] eerison commented on #1495
@jordisala1991 regarding this issue: `Composer page is not showing errors` as it's a "big" issue, could you explain better what should be done there? or do you think it's better, it be handled by only one person (you).

[2022-09-12 09:30] eerison commented on #1495
@haivala is there any issue (**issues that was introduced in 4.x only**) That is not into the list? if yes could you add here!

I will copy and past to ticket's description

[2022-09-12 09:38] haivala commented on #1495
I think that at least the same blocks should be found in the composer add block dialogue as in 3.x. https://github.com/sonata-project/SonataPageBundle/issues/1495#issuecomment-1242199495

[2022-09-12 09:40] jordisala1991 commented on #1495
That's impossible. Some blocks of SonataSeoBundle were removed, for example. (And they won't be recovered). IMO you should check what blocks are you missing, and filter the ones that were removed, if the result list is not empty, let's see what happens, then.

[2022-09-12 09:40] eerison commented on #1495
is it for shared blocks? could you just create a small title to put into the list please!

[2022-09-12 09:41] haivala commented on #1495
I mean only blocks that can be found in this bundle

[2022-09-12 09:41] eerison commented on #1495
should it be fixed before 4.0 release?

[2022-09-12 09:43] jordisala1991 commented on #1495
If there is something wrong, probably yes, but still. I have taken a look at the block list and I don't see anything missing...

[2022-09-12 09:44] eerison commented on #1495
I don't get it, it should show more blocks? which blocks for example?

[2022-09-12 09:44] jordisala1991 commented on #1367
Dynamic pages are just normal pages, they have a $site assigned to them, I don't think there is something wrong with that. Just try dynamic pages without i18n, if you see any issue, yes, open an issue. (What we won't do is patching something that is not implemented AKA i18n routing).

[2022-09-12 09:45] jordisala1991 commented on #1609
Did you try with kernel.debug false?

AFAIK there is some logic on SonataBlockBundle to avoid exceptions when kernel.debug is false.

[2022-09-12 09:46] eerison commented on #1495
as I said, this issue is an old issue (I was using page bundle 3.20 something like this, and I faced this issue).

[2022-09-12 09:47] haivala commented on #1495
I have these in the Block admin create route:
![2022-09-12_124452-area](https://user-images.githubusercontent.com/3918267/189623609-4bde0521-834b-4d0f-a286-b509a341929f.png)
But only those tree in the pic before in the composer add block dialogue. Or am I doing something wrong?

[2022-09-12 09:48] eerison commented on #1609
I can try this, But I remember to took this issue in production once!

[2022-09-12 09:48] jordisala1991 commented on #1495
What issue are we talking about now? It is hard to follow this conversation:

1. Are you talking about missing blocks? if so, there are no "missing blocks" afaik, there are just blocks that were removed.
2. Is there another issue?

As I said, if there is something different, please provide more details 😅

[2022-09-12 09:49] jordisala1991 commented on #1495
That is indeed something different than just missing blocks :). Now I understand better:

1. on block create it shows a list
2. on compose page it shows ANOTHER list

List 1 and 2 are different, do they share anything, or completely different?

[2022-09-12 09:50] haivala commented on #1495
![2022-09-12_124903-area](https://user-images.githubusercontent.com/3918267/189624475-8f11946b-8d87-4122-bd08-f6e796972646.png)
Just ignore the Work Sample Blocks

[2022-09-12 09:53] haivala commented on #1495
I'm also wondering why there is two Menu blocks

[2022-09-12 09:59] jordisala1991 commented on #1495
It looks like the logic of the create and the list is different then, we need to atleast know why. This wasn't happening on 3.x right?

Two menu block are one for SeoBundle and the other for BlockBundle... there is block repetition.

[2022-09-12 10:00] eerison commented on #1495
https://user-images.githubusercontent.com/6358755/189626543-ed48646b-8afb-4e3e-88da-b10a03daec4c.mov

Hey @haivala  it looks correct for me, the only difference is that in compose you do not have container block, But it's the expect behaviour I would say

[2022-09-12 10:15] haivala opened #1610 "Add ability to choose site for dynamic/hybrid page"
## Feature Request

When you create new dynamic page with symfony route and running `update-core-routes` the page is created for all of the defined sites. It would be nice to have ability to choose the site the page would be created on so that not all of the sites have the page in question.
Implementation could be done by adding route parameter to the symfony route and check it when `update-core-r

[2022-09-12 10:19] eerison commented on #1609
Hey @jordisala1991 you are right, the page doesn't crash with debug=false

But any block is rendered, I have a simple text block and it doesn't appear into the page :/

<img width="1514" alt="Screenshot 2022-09-12 at 12 17 22" src="https://user-images.githubusercontent.com/6358755/189630210-5f4bef05-4f0b-4642-ad0e-bb6bac85d31e.png">

I guess it should skip only blocks that doesn't exist!

<img wid

[2022-09-12 10:20] jordisala1991 commented on #1609
Indeed, there is something wrong then.

[2022-09-12 10:20] eerison commented on #1609
and ... does it an impediment for release 4.0 👀 ?

[2022-09-12 10:22] jordisala1991 commented on #1610
It also happens for hybrid pages right?

I mean hybrid and dynamic are almost the same, just dynamic have also parameters on the route.

[2022-09-12 10:23] jordisala1991 commented on #1609
Does it depend on the order? Maybe if you place first the block that works and later the one that does not work?

[2022-09-12 10:23] eerison commented on #1609
other question, should it be handled in sonata block or here?

[2022-09-12 10:25] eerison commented on #1609
The same issue, O moved `simple text block` to the first position and the page is still blank!

[2022-09-12 10:39] haivala commented on #1610
Yes as they are the same: They have Symfony route.

[2022-09-12 10:56] haivala commented on #1495
I'm using Symfony 5.4. Could it be that I have some missing config? What do you have in sonata_block.yaml or page.yaml?

[2022-09-12 11:00] eerison commented on #1495
do you have this in your configs
~https://docs.sonata-project.org/projects/SonataPageBundle/en/3.x/reference/installation/#sonatablockbundle-configuration~

Sorry it's the correct link: https://docs.sonata-project.org/projects/SonataPageBundle/en/4.x/reference/installation/#sonatablockbundle-configuration

[2022-09-12 11:03] haivala commented on #1495
Yes I do, if I change it to typo all of the blocks vanish in the composer block dialogue

[2022-09-12 11:25] eerison commented on #1495
well I can't reproduce this issue :/

and my configs are the basic one, I just took from the docs

[2022-09-12 12:46] haivala commented on #1495
I got bug in my project. works as expected!

[2022-09-12 12:50] eerison commented on #1495
hmmm is it something that was changed in 4.x?

[2022-09-12 13:03] haivala commented on #1495
I had config that was wrong

[2022-09-13 08:27] eerison commented on #1495
Ok @jordisala1991 now I got it, what you mean that `compose errors` will be a "huge" work 😄

in 3.x it was returning the html page, and in 4.x it's returning a json response

<img width="1310" alt="Screenshot 2022-09-13 at 10 22 22" src="https://user-images.githubusercontent.com/6358755/189851264-496e1e3d-7ca2-4690-aca8-9f543828ebef.png">

[2022-09-13 08:28] jordisala1991 commented on #1495
yes, when the other bugs are fixed, I will start working on this one, but it requires to touch some javascript and some SonataAdminBundle code, and I need to focus a bit to solve it.

[2022-09-13 08:35] eerison commented on #1495
@jordisala1991

Don't you have any idea or thought in your mind that you could share? maybe I could help somehow.

[2022-09-13 08:38] jordisala1991 commented on #1495
I would prefer if you pick #1609

[2022-09-13 08:41] eerison commented on #1495
Ok, I'll start that then :)

[2022-09-13 09:00] haivala commented on #1609
I have never seen this problem. What does it mean when you say the block does not exist? How did you end up in this situation?

[2022-09-13 09:01] #1474 closed, assigned to nobody

[2022-09-13 09:04] jordisala1991 commented on #1609
Upgrading from3.x to 4.x will cause some blocks to be removed, so you might end up in that situation easily if you rely on default Sonata blocks

[2022-09-13 09:04] eerison commented on #1609
- 1 Create a block (a custom block)
- 2 Create a snapshot
- 3 Rename your block class or remove
- You will see this error in the page that uses the old block

[2022-09-13 09:04] eerison commented on #1609
or do this 😄

[2022-09-13 10:52] haivala commented on #1495
This would be nice to have before 4.x https://github.com/sonata-project/SonataFormatterBundle/issues/715

[2022-09-13 12:26] jordisala1991 commented on #1495
That PR is about formatter bundle, does not seem related with pageBundle.

[2022-09-13 12:59] haivala commented on #1495
I mean that if that is not fixed I cannot test the alpha(?) version of PageBundle on my projects as they mostly use that formatter block and that is why it is nice to have. It is just my personal wish :)

[2022-09-13 14:16] VincentLanglet commented on #1495
Feel free to fix it. But we will focus on pageBundle only

[2022-09-13 17:01] #502 closed

[2022-09-20 08:34] eerison commented on #1495
https://user-images.githubusercontent.com/6358755/191209041-ca44ff06-7cbb-4849-b608-0b179f340608.mov

When I try to add a shared block into my page I can't find the block :/

[2022-09-20 08:39] eerison commented on #1495
https://user-images.githubusercontent.com/6358755/191210371-52e580b6-f326-4f36-99d8-118a1a55ae97.mov

batch delete for shared blocks does not work

[2022-09-20 08:43] eerison commented on #1495
<img width="1792" alt="Screenshot 2022-09-20 at 10 41 27" src="https://user-images.githubusercontent.com/6358755/191211206-bb924e60-6b01-4d57-a88c-61ea349c9559.png">

List label action for snapshot list is not found.

@VincentLanglet if I remember correct it will be fixed into sonata admin, right?

[2022-09-20 08:52] VincentLanglet commented on #1495
https://github.com/sonata-project/SonataAdminBundle/pull/7926

But you need to check that it tried to translate using the SonataAdmin translation_domain (or provide a PR on PageBundle to use the correct translation domain)

[2022-09-20 08:54] eerison commented on #1495
It gets from SonataAdmin context

en | SonataAdminBundle | 1 | list.label__actions | list.label__actions
-- | -- | -- | -- | --

[2022-09-20 08:57] eerison commented on #1495
Ahhh ok, it'll be fixed in the next release, this translations only exist in 4.x branch not in [4.18.0](https://github.com/sonata-project/SonataAdminBundle/blob/4.18.0/src/Resources/translations/SonataAdminBundle.en.xliff)

[2022-09-21 18:36] haivala opened #1616 "Twig path function and forcing the locale with multisite"
## Feature Request
I'm using multisite `host_with_path` and I have Symfony route that is updated as Dynamic page with `update-core-routes`.
Meaning that I have 2 routes: `/example/{slug}` and `/en/example/{slug}` as the another site is prefixed with the `/en` and has locale en.
Now I render the page template and would like to have a link to the another page with the same route but different locale

[2022-09-21 20:59] haivala commented on #1616
I guess I have to use the technical alias section of the page..

[2022-09-22 06:09] haivala commented on #1616
Dynamic page does not have Technical Alias field

[2022-09-22 12:10] mesiarm opened #1617 "Add ability to append asset version which changes, when asset content changes"
Add option (maybe versioning: true) to sonata_page > assets in sonata_page.yaml

[2022-09-22 12:38] haivala commented on #1617
How does it work?

[2022-09-22 12:52] jordisala1991 commented on #1617
We are using standard asset function. Afaik that function can already handle versioning.

[2022-09-22 12:52] #1617 closed, assigned to nobody

[2022-09-23 12:30] eerison commented on #1609
Ok just to make sure, I keep this ticket open, But it's not a impediment for 4.x anymore correct @VincentLanglet @jordisala1991 ?

[2022-09-23 12:46] VincentLanglet commented on #1609
It will kinda solved since you'll be able to do it with the exception manager strategy

[2022-09-24 09:01] eerison commented on #1609
for me I still have the same issue, even if I use manager strategy

[2022-09-24 12:15] haivala commented on #1495
Well I tried and this fixes it: https://github.com/sonata-project/SonataFormatterBundle/pull/721

[2022-09-26 08:17] haivala commented on #1495
Bug: Composer or BlockAdmin does not show help messages in forms. This does not work in 3.x either. It does work if the help is defined in subformType. for example I have CollertionType form inside ImmutableArrayType and with add it loads the subformType.

[2022-09-26 08:43] VincentLanglet commented on #1495
Then it should be a specific issue and not a 4.0-related one.

[2022-09-26 09:51] eerison commented on #1609
Hey @VincentLanglet

what do you mean "I recommend you dump the strategy code" https://github.com/sonata-project/SonataBlockBundle/pull/1117#issuecomment-1256918154

![Screenshot 2022-09-26 at 11 47 10](https://user-images.githubusercontent.com/6358755/192246604-419f28b9-62c4-456e-bbd4-1ff837332b98.png)
I'm testing with the block bundle 4.x, and even with debug false my page is black.

I don't kno

[2022-09-26 10:22] VincentLanglet commented on #1609
I mean to debug, like I did.

I went into my vendor, used xdbug/dump() methods, and I looked where the code was executed, which method, and
dumped the strategy_manager used to see that it used the keep_all filter strategy, and the debug manager strategy.

That's exactly the behavior expected since
- Keep_all filter keep the exception.
- Debug manager, display nothing.

So like I already said many

[2022-09-26 10:30] eerison commented on #1609
Ok, then I'm checking the first 2 issues as solved ;)

[2022-09-26 15:05] jordisala1991 commented on #1495
How did you create that block? I just tried to delete and it works, and batch delete too. Maybe that block is related to a page with the shared block service?

[2022-09-26 17:58] haivala opened #1619 "Form Helps in BlockAdmin and Composer block system"
## Feature Request

Composer or BlockAdmin does not show help messages in forms.
This does not work in 3.x either. It does work if the help is defined in subformType. for example I have CollertionType form inside ImmutableArrayType and with add it loads the subformType.

[2022-09-26 17:59] haivala commented on #1495
I vaguely remember using them with 3.x years ago so I think they have been working in some point but not anymore. Anyways, made a new ticket.

[2022-09-26 20:08] jordisala1991 commented on #1619
Maybe the problem is the immutable form type?

[2022-09-27 06:09] haivala commented on #1619
I think so too bu I don't have time to get into this now.

[2022-09-27 08:01] eerison commented on #1609
https://user-images.githubusercontent.com/6358755/192468643-604a7de4-dffc-4819-ab2d-f13bb552721a.mov

I can delete the block that doesn't exist from block's edit page ❤️

But from `batch` and `composer page` it doesn't work

[2022-09-27 09:57] eerison commented on #1495
https://user-images.githubusercontent.com/6358755/192495609-7ff36386-f5d2-4eed-82f5-ff9293783a2f.mov

you asked here 😄 , I create and delete the block like this ☝🏼

[2022-09-27 11:16] eerison commented on #1495
Ok I know why I'm getting this issue and you not

I'm testing it using postgresql, and we are using a DISTINCT, But I guess you are aware of this @jordisala1991

https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/759

I can see your comment into the thread 😄

[2022-09-27 11:17] eerison commented on #1495
it was introduced in this PR: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/commit/8a7682b1ffd99649ee5b4aebbef894ff831402fb

did you see any problem to remove that line?

[2022-09-27 17:18] jordisala1991 commented on #1495
Nice, the mighty jsonb issue... I solved on media-bundle adding the jsonb -> true, BUT it is being reported as an issue there: https://github.com/sonata-project/SonataMediaBundle/issues/2323

If we find a way to solve it in a way it does not generate infinite migrations for users of others databases it will be nice.

oh man, this never ends...

[2022-09-28 06:54] eerison commented on #1609
This batch issue will be solved in this PR: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1695

for composer page I would say it's not a big problem, because if some block doesn't exist, the user can remove in block list.

IMO we can check this issue as solved

[2022-09-28 06:54] #1609 closed, assigned to nobody

[2022-09-28 10:08] VincentLanglet commented on #1495
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1695 is a bug which already exists in 3.x no ?
Shouldn't be a blocking point then.

I closed this issue @jordisala1991 seems according to @haivala it's solved with latests doctrine versions...

[2022-09-28 10:13] jordisala1991 commented on #1495
I think that might need further investigation, or simply removing the distinct might allow to remove the jsonb and all issues are solved.

[2022-09-28 11:11] haivala opened #1621 "If Block does not implement EditableBlockService don't show it in composer"
## Feature Request
If Block does not implement EditableBlockService don't show it in page composer as it only triggers errors.

[2022-09-28 11:23] eerison commented on #1601
Hey @haivala could you test it again please.

I tested using the last version of 4.x and it's working as expected!

[2022-09-28 11:37] haivala commented on #1601
It does not work. I'm using 4.x-dev.

I have block with id 18 and I want to delete it. I open the composer and edit the block. There is buttons Update or Delete. Delete button redirects me to `/admin/app/sonatapageblock/18/delete?composer=1` and asks `Are you sure you want to delete the selected...`. When I click yes it redirect me to BlockAdmin list at `admin/app/sonatapageblock/list?composer=1&f

[2022-09-28 11:44] haivala commented on #1601
What we could do is just remove the delete button in composer as the same thing can be done with the ajax remove.

[2022-09-28 11:59] eerison commented on #1601
Then it's not in composer page, because after delete it's redirecting to anywhere. it made a ajax request

are you sure that is it in composer page?

[2022-09-28 12:39] haivala commented on #1601
I just explained that you need to open the block edit dialogue in composer page

[2022-09-28 12:41] haivala commented on #1601
![2022-09-28_154050-area](https://user-images.githubusercontent.com/3918267/192780943-74b9662e-bc38-4a44-8c63-341e69efce88.png)

[2022-09-28 12:56] eerison commented on #1601
sorry I didn't follow you!

[2022-09-28 13:02] eerison commented on #1601
https://user-images.githubusercontent.com/6358755/192785187-7990e41b-ce18-4b1d-bde1-d24196495417.mov

as I said , remove block from composer page works ☝🏼

[2022-09-28 13:22] eerison opened #1622 "Relate blocks with shared_blocks"
I don't know if it should be a feature or a bug, But we have this case

When I create a shared block I didn't have any foreign key  to relate with others blocks for example.
<img width="1513" alt="Screenshot 2022-09-28 at 15 15 49" src="https://user-images.githubusercontent.com/6358755/192788934-540aa1fa-8ff8-4ee6-8866-dc249df96276.png">

then what I was thinking is create a oneToMany relationship

[2022-09-28 13:55] haivala commented on #1601
Again, open the block edit and then push `delete` button which is next to the `update` button
Don't use the `remove` button. That works

[2022-09-28 14:28] eerison commented on #1601
1- Your ticket description is wrong then, you are saying that this issue is in `composer page`.
2- It's working in block list also 👇🏼

https://user-images.githubusercontent.com/6358755/192805724-9018efca-26a5-4121-98a0-d76bc66b2442.mov

if it's not the page, please provider a better description with screenshots and what exactly urls it's happening, if it's possible record your screen with this iss

[2022-09-28 14:30] haivala commented on #1601
![2022-09-28_172941-area](https://user-images.githubusercontent.com/3918267/192806214-69f1b7c4-d67a-409d-be36-f612568eddde.png)

[2022-09-28 14:30] haivala commented on #1601
can you see the delete button now?

[2022-09-28 14:32] eerison commented on #1601
Ok know it's clear where is the issue!

[2022-09-28 19:57] VincentLanglet commented on #1495
Though we could release an alpha after https://github.com/sonata-project/SonataPageBundle/pull/1612

[2022-09-28 20:39] eerison commented on #1495
We need to realease a Version in SonataDoctrineORMAdminBundle and require in dependencies

[2022-09-28 20:45] VincentLanglet commented on #1495
Version is already release, but I don't think we need to require it. People just need to bump to latest version if needed, but with lowest version test are working fine.

[2022-09-28 20:47] VincentLanglet commented on #1495
cc @jordisala1991

We might need to decide what we do about https://github.com/sonata-project/SonataBlockBundle/pull/1114 to do it before the final release of PageBundle 4.x in case we don't deprecate the BlockBundle ContainerBlock and try to use it back.

[2022-09-29 05:31] eerison commented on #1495
But as we require this in [composer.json](https://github.com/sonata-project/SonataPageBundle/blob/4.x/composer.json#L31) and there is a bug fixed in version 4.8, shouldn't we require this version?

[2022-09-29 07:17] haivala commented on #1621
In BlockAdmin the block that does not implement EditableBlockService should be shown but it should be indicated somehow that it cannot be used?

[2022-09-29 10:59] eerison commented on #1495
Well I guess we need to fix more one issue related with compose page, it has been discussed here: #1611

[2022-09-30 11:49] mesiarm commented on #1617
I could´t get working versioning in twig asset function, but found some solution using custom code and it worked for me : https://symfony.com/doc/current/frontend/custom_version_strategy.html

[2022-10-01 07:28] jordisala1991 commented on #1622
Better as a feature, it is not a bug.

[2022-10-01 07:57] jordisala1991 commented on #1602
IMO, you can implement a Admin extension attached to page, that manipulates the tab menu, and removes that link.

I think we should not add more options to page-bundle configuration.

[2022-10-01 07:57] #1602 closed, assigned to nobody

[2022-10-02 07:01] jordisala1991 commented on #1495
After:

* #1623 -> fixes editing non existent blocks
* #1624 -> fixes being able to create blocks that are not editable
* #1625 -> fixes delete button

We will release an alpha, and close this issue. Next fixes better have their own issues.

[2022-10-02 16:17] #1601 closed, assigned to nobody

[2022-10-04 10:55] eerison commented on #1495
I tried to use 4.x branch and I got this issue

[code]

any idea why @jordisala1991 ?

[2022-10-04 10:59] jordisala1991 commented on #1495
Update all deps

[2022-10-04 11:09] eerison commented on #1495
sorry my bad, it works :)

[2022-10-04 11:21] eerison commented on #1495
When I add Menu block I get this error

[code]

[2022-10-04 13:47] eerison commented on #1495
Question:

the recipe should be updated before or after 4.0 release?
https://github.com/symfony/recipes-contrib/pull/1440

[2022-10-06 06:50] jordisala1991 commented on #1495
Can you show how to reproduce the problem?

[2022-10-06 07:34] eerison commented on #1495
https://user-images.githubusercontent.com/6358755/194246147-05cf0d2b-c9ed-4cdf-ba0c-95c625b28652.mov

@jordisala1991 ☝🏼

[2022-10-11 08:09] eerison commented on #1621
@haivala could you confirm if jordi's PR fixed your issue, if yes could you close?

[2022-10-12 05:52] haivala commented on #1621
@eerison yes it fixed it!

@jordisala1991 & @VincentLanglet You were taking about the implementation: I think that the "old way" would be still good: Make block maker define block setting that is the block `context` as an array but this time it would need proper documentation. if it has `sonata_page_block` then show it in the page composer and BlockAdmin. I'm only aware that there is another conte

[2022-10-12 05:52] #1621 closed, assigned to nobody

[2022-10-12 14:49] mesiarm commented on #1616
Also now you have to insert all page blocks twice. Better option would be if page fields and page blocks would be translantable and you would need only translate texts and dont need to insert images again. Something like in https://docs.sonata-project.org/projects/SonataTranslationBundle/en/2.x/index.html But it would be lot of work. Easier would be option to duplicate page with all blocks to anot

[2022-10-12 14:49] mesiarm commented on #1616
Also now you have to insert all page blocks twice. Better option would be if page fields and page blocks would be translantable and you would need only translate texts and dont need to insert images again. Something like in https://docs.sonata-project.org/projects/SonataTranslationBundle/en/2.x/index.html But it would be lot of work. Easier would be option to duplicate page with all blocks to anot

[2022-10-12 15:01] mesiarm commented on #1368
Does Internationalized routing solves your problem? https://symfony.com/blog/new-in-symfony-4-1-internationalized-routing

[2022-10-12 15:11] mesiarm commented on #1367
Does Internationalized routing solves your problem? https://symfony.com/blog/new-in-symfony-4-1-internationalized-routing

[2022-10-12 16:07] haivala commented on #1616
I don't see why it is a problem to insert the page blocks twice. Sometimes it does not even make sense to make the same page in another language as the content is so much different and not that maintained.

Page duplication batch action to different site would be nice to have and relatively easy to do.

This issue is about getting path to any page that is made with `update-core-routes` command but

[2022-10-12 16:09] haivala commented on #1367
Done here: https://github.com/sonata-project/SonataPageBundle/issues/1610

[2022-10-12 18:13] mesiarm commented on #1616
Ok I´ll create separate issue

[2022-10-12 18:29] mesiarm opened #1629 "Page duplication action to another site"
## Feature Request

Add button and/or command to duplicate page with all fields and blocks to another site (then translate and use it in another locale). It would help to speed up development of multi locale webpages. There are other steps which could follow, like sync command, which will sync page in default site with all pages in another sites (with other locales). Also there could be posibility

[2022-10-13 14:41] eerison commented on #1629
Have you tried to use shared blocks?

[2022-10-13 14:45] eerison commented on #1629
duplicate blocks sounds not like a good approach

[2022-10-13 14:52] eerison commented on #703
Hey @core23  I saw that [Resources/views/base_layout.html.twig](https://github.com/sonata-project/SonataPageBundle/blob/3.x/Resources/views/base_layout.html.twig) was already checked as solved, But do you know which PR was it done 👀

[2022-10-17 08:26] mesiarm commented on #1629
shared blocks would help a little, but when I was creating page for another locale I would still need assign all shared blocks to this page again. And I ilso means page settings like template, position, alias which are same for both pages (same page but with different site and different locale)

[2022-10-17 10:57] eerison commented on #1629
"maybe" the same solution that was taken for shared blocks we could do for shared pages

like 1 page can be into many sites.

[2022-10-18 08:13] eerison commented on #1495
Ok FYI I'm checking the issue above ☝🏼 !

[2022-10-18 11:53] mesiarm commented on #1629
When I am creating copy of page in another locale I duplicate page and then translates text blocks into another language. So it is page with same blocks, same images in blocks, but translated text blocks.

[2022-10-20 13:49] eerison commented on #1495
I have the feeling that issue was introduced here: https://github.com/sonata-project/SonataBlockBundle/commit/ebe82c883ac99e2337ed545c8820f963eeb2ff29#diff-a09c2633c4f6405e5d208a92d7a26757d9617bf466977bc2ce42959c46768019

if you check the screenshot, the image_name is `null` and in theory it should return an `ItemInterface`
<img width="1124" alt="Screenshot 2022-10-20 at 15 43 53" src="https://use

[2022-10-20 14:17] VincentLanglet commented on #1495
This was supposed to be a BC refacto. Why was it working before ?

[2022-10-20 14:18] eerison commented on #1495
it was happening because I didn't pass the menu, I changed it for required

https://github.com/sonata-project/SonataBlockBundle/pull/1124

<img width="755" alt="Screenshot 2022-10-20 at 16 17 34" src="https://user-images.githubusercontent.com/6358755/196974135-130e9917-f44a-416f-a09d-9748360fbb48.png">
<img width="475" alt="Screenshot 2022-10-20 at 16 17 03" src="https://user-images.githubusercont

[2022-10-20 14:19] VincentLanglet commented on #1495
But if you pass no menu, with a blockBundle version without my refacto, do you also have the bug ?

[2022-10-20 14:22] eerison commented on #1495
I tried to use block bundle `v4.17`, But I got an issue related with `src/Block/Service/AbstractMenuBlockService.php` this class wasn't found!

maybe I need to back some commits in page bundle as well!

But for this works before, maybe the `sonata_admin_sidebar` was a default value.

[2022-10-20 14:56] eerison commented on #1495
Hey @VincentLanglet

I tested using a commit before your changes: d3b9eaa180a7146f79e3baeff4c4b2bf9363a987
with BlockBundle `v4.17`, and I got the same issue! then I guess this issue was there before But maybe we didn't see this because we fill out all fields!

[2022-10-20 14:59] VincentLanglet commented on #1495
with BlockBundle v4.17, and I got the same issue!

Ok, that's reassuring. Your fix seems ok.

[2022-10-20 15:39] haivala commented on #1495
Can we release alpha now or do we need to wait for those 2 commits?

[2022-10-20 15:58] mesiarm commented on #1629
I have found simmilar issue #441 and joining sites with same content in different locales would help to create Language switcher: #394

[2022-10-21 06:34] haivala commented on #1629
One piece of the puzzle: https://github.com/sonata-project/SonataPageBundle/issues/1367

We should actually collect all of the issues that mention i18n to one issue? Clearly there is lots to do.

[2022-10-21 07:30] eerison commented on #1495
Maybe after merge this: https://github.com/sonata-project/SonataBlockBundle/pull/1124

we could require the latest version from seo bundle and block bundle, what do you think?

[2022-10-22 12:54] VincentLanglet commented on #1495
This is not needed. We won't bump seo/block dependency every time a bug is fixed.
If people wants to be bug free, they just bump their dependency.

Does SonataPage work with older versions of SeoBunde ? Yes, they just have a different wording.
Does SonataPage work with older versions of BlockBundle ? Yes, they just have a non-required field.

If there is no other bugfix needed, we can release alph

[2022-10-22 13:00] eerison commented on #1495
Ahhhh I got it, I thought that we must do this always when we fix a issue related with some dependency.

Ok it's clear :)